{% extends "admin/bars.html.twig" %}
{% block title %}
    Paso 2 - Secciones
{% endblock %}
{% block search %}
{% endblock %}
{% block stylesheets %}
{{ parent() }}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="{{ asset('fonts/awesome/web-fonts-with-css/css/all.min.css') }}">
{{ encore_entry_link_tags('select2') }}

    {{ encore_entry_link_tags('tinymce_config') }}
    <link rel="stylesheet" href="{{ asset('bundles/tinymce/ext/tinymce/skins/content/default/content.css') }}"
          integrity="sha256-AgL8yEmNfLtCpH+gYp9xqJwiDITGqcwAbI8tCfnY2lw=" crossorigin="anonymous"/>

{% endblock %}

{% block contenpage %}

    <h4>Asistente para crear nueva sección - Paso 2</h4>


<div class="form-container">
    <div class="form-container">
        {{ form_start(sectionForm) }}
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(sectionForm.title) }}
            </div>
            <div class="col-sm-12">
                {{ form_row(sectionForm.identificador) }}
            </div>
            <div class="col-sm-12">
                {{ form_row(sectionForm.orden) }}
            </div>



        {{ form_widget(sectionForm._token) }}


        {{ form_end(sectionForm, {'render_rest': true}) }}
            <button class="btn btn-primary btn--pill">{{ button_label|default('Guardar') }}</button>

    </div>


</div>
    <a class="btn btn-info" href="{{ path('admin_section_list') }}">Cancelar e ir al Listado</a>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/admin_section_form.js') }}"></script>
    {{ encore_entry_script_tags('select2') }}
    {{ parent() }}
    <script src="{{ asset('bundles/tinymce/ext/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ asset('bundles/tinymce/ext/tinymce-webcomponent.js') }}"></script>
{#    <script src="{{ asset('bundles/tinymce/ext/tinymce/plugins/help/js/i18n/keynav/es.js') }}"></script>#}
    <script src="{{ asset('bundles/tinymce/ext/tinymce/skins/content/default/content.js') }}"></script>
    {{ encore_entry_script_tags('tinymce_config') }}
{% endblock %}