{% extends "admin/bars.html.twig" %}

{% block title %}Nueva Entrada{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('select2') }}
    {{ encore_entry_link_tags('tinymce_config') }}
{% endblock %}

{% block contenpage %}
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h4>Crear nueva sección</h4>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                    {#    <div class="form-container"> #}
                    {{ include('admin/entrada/_form.html.twig') }}


                    <a class="btn btn-info" href="{{ path('admin_section_list') }}">
                        <i class="fas fa-backspace"></i>
                        Volver al listado</a>

                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('select2') }}
    {{ encore_entry_script_tags('tinymce_config') }}
    <script src="{{ asset('bundles/tinymce/ext/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ asset('bundles/tinymce/ext/tinymce-webcomponent.js') }}"></script>
        <script src="{{ asset('bundles/tinymce/ext/tinymce/plugins/help/js/i18n/keynav/es.js') }}"></script>
    <script src="{{ asset('bundles/tinymce/ext/tinymce/skins/content/default/content.js') }}"></script>

{% endblock %}
