{% extends "admin/bars.html.twig" %}
{% block search %}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('select2') }}
    {{ encore_entry_link_tags('tinymce_config') }}
    <link rel="stylesheet" href="{{ asset('bundles/tinymce/ext/tinymce/skins/content/default/content.css') }}"
          integrity="sha256-AgL8yEmNfLtCpH+gYp9xqJwiDITGqcwAbI8tCfnY2lw=" crossorigin="anonymous"/>


{% endblock %}

{% block title %}Asistente para Crear Página Principal {% endblock %}
{#{% block nav %}#}
{#    {{ include('admin/_nav.html.twig',  {'marca_label': 'entrada'}) }}#}
{#{% endblock %}#}
{% block contenpage %}
    <h5>Asistente para crear una nueva página Principal</h5>

    {{ include('admin/principal/_form.html.twig') }}

    <a href="{{ path('principal_index') }}">Volver al listado</a>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('select2') }}
    <script src="{{ asset('bundles/tinymce/ext/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ asset('bundles/tinymce/ext/tinymce-webcomponent.js') }}"></script>
    {#    <script src="{{ asset('bundles/tinymce/ext/tinymce/plugins/help/js/i18n/keynav/es.js') }}"></script>#}
    <script src="{{ asset('bundles/tinymce/ext/tinymce/skins/content/default/content.js') }}"></script>
    {{ encore_entry_script_tags('tinymce_config') }}
{% endblock %}
{% block jslocal %}

    <!--   Core JS Files   -->
    <script src="{{ asset('/asistente/js/jquery-2.2.4.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/asistente/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/asistente/js/jquery.bootstrap.js') }}" type="text/javascript"></script>

    <!--  Plugin for the Wizard -->
    <script src="{{ asset('/asistente/js/material-bootstrap-wizard.js') }}"></script>

    <!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
    <script src="{{ asset('/asistente/js/jquery.validate.min.js') }}"></script>

{% endblock %}