<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <div class="col-sm-10 mx-auto mb-3">
                <div class="col-12 mx-auto text-center mb-0">

                    {#                    <h4 class="text-centrado text-600"> #}
                    {#                        CÓMO LA FE EN JESÚS<br/> #}
                    {#                        CONVIERTE LO POCO EN MUCHO #}
                    {#                    </h4> #}
                    {#                                <img src="{{ asset('images/seis_decisiones.png') }}" #}
                    {#                                     class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
                    {#                    <h6 class="text-14-300 font-italic pl-4 text-centrado"> #}
                    {#                        Marcos 6:34-44 – El Milagro de Alimentar a los 5.000 #}
                    {#                    </h6> #}
                    {#                    <br/> #}
                    {#                    <h5 class="text-centrado text-600"> #}
                    {#                        COMO SALIR DEL POZO DEL ABANDONO<br/> #}
                    {#                        <small>Marcos 1.40-45, Mateo 8.2-4; Lucas 5.12-16</small> #}
                    {#                    </h5> #}

                    <p class="text-14-300 font-italic pl-4 text-izq">
                        “Entonces llegó uno de los líderes de la sinagoga local, llamado Jairo. Cuando vio a Jesús, cayó
                        a
                        sus pies y le rogó con fervor: «<u>Mi hijita se está muriendo</u> —dijo. Por favor, ven y pon
                        tus
                        manos sobre ella para que se sane y viva».
                        <br/>
                        <small class="float-end">
                            Marcos 5:22-23 (NTV)
                        </small>
                    </p>


                </div>

                {#            <h6 class="text-centrado"> #}
                {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
                {#            </h6> #}
                {#            <h5 class="text-centrado text-600"> #}
                {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
                {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
                {#            </h5> #}
                <h4 class="text-centrado text-600">
                    Cuando probas todo y todo sale mal
                </h4>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Jesús fue con él, y toda la gente lo siguió, apretujada a su alrededor. Una mujer de la multitud
                    hacía <u>doce años que sufría una hemorragia continua</u>. Había <u>sufrido</u> mucho con <u>varios
                        médicos</u> y, a lo largo de los años, había <u>gastado todo</u> lo que tenía para poder
                    pagarles, pero <u>nunca mejoró</u>. De hecho, se puso <u>peor</u>.”
                    <br/>
                    <small class="float-end">
                        Marcos 5:24-26 (NTV)
                    </small>
                </p><br/>
                <h4 class="text-centrado text-600">
                    Cuando hacemos todo mal
                </h4>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Ella había oído de Jesús, así que se le acercó por detrás entre la multitud y tocó su túnica. Pues
                    pensó: «Si tan sólo tocara su túnica, quedaré sana».
                    <br/>
                    <small class="float-end">
                        Marcos 5:27-28 (NTV)
                    </small>
                </p><br/>
                <ul>
                    <li class="text-14-300 font-italic pl-4 text-izq">
                        Fue {{ completa_lugar('uno') | raw }}
                    </li>
                    <li class="text-14-300 font-italic pl-4 text-izq">
                        Fue {{ completa_lugar('dos') | raw }}
                    </li>
                    <li class="text-14-300 font-italic pl-4 text-izq">
                        Fue {{ completa_lugar('tres') | raw }}
                    </li>
                    <li class="text-14-300 font-italic pl-4 text-izq">
                        Fue {{ completa_lugar('cuatro') | raw }}
                    </li>
                </ul>

                <h4 class="text-centrado text-600">
                    Cuando hacemos una cosa bien
                </h4>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Acercándose a Jesús por detrás, le tocó el fleco de la túnica. Al instante, la hemorragia se
                    detuvo.”
                    <br/>
                    <small class="float-end">
                        Lucas 8:44 (NTV)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “... y ella pudo sentir en su cuerpo que había sido sanada de su terrible condición.”
                    <br/>
                    <small class="float-end">
                        Marcos 5:29 (NTV)
                    </small>
                </p><br/>
                <h5 class="text-centrado text-600">
                    El único y gran acierto que cambia tu historia:
                    {{ completa_lugar('cinco') | raw }} en Jesús.
                </h5>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    Jesús: “Todo es posible si uno cree.”
                    <br/>
                    <small class="float-end">
                        Marcos 9:23 (NTV)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Se hará con ustedes conforme a su fe.”
                    <br/>
                    <small class="float-end">
                        Mateo 9:29 (NBD)
                    </small>
                </p><br/>


                <h4 class="text-centrado text-600">
                    Cuando Jesús hace todo bien.
                </h4>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Jesús se dio cuenta de inmediato de que había salido poder sanador de él, así que se dio vuelta y
                    preguntó a la multitud: «¿<u>Quién</u> tocó mi túnica?».<br/>
                    Sus discípulos le dijeron: «Mira a la multitud que te apretuja por todos lados. ¿Cómo puedes
                    preguntar: “¿Quién me tocó?”?».<br/>
                    Sin embargo, él siguió mirando a su alrededor para ver quién lo había hecho.”
                    <br/>
                    <small class="float-end">
                        Marcos 5:31-32 (NTV)
                    </small>
                </p><br/>
                <h4 class="text-izq text-600">
                    ¿Por qué Jesús hace esto?
                </h4>
                <h5 class="text-centrado text-600">
                    Ella necesitaba algo más que sanidad física, necesitaba sanidad {{ completa_lugar('seis') | raw }}.
                </h5>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Entonces la mujer, asustada y temblando al darse cuenta de lo que le había pasado, se le acercó
                    y <u>se arrodilló delante de él</u> y le confesó lo que había hecho.<br/>
                    Y él le dijo: «Hija, <u>tu fe te ha sanado</u>. Ve en paz. Se acabó tu sufrimiento».
                    <br/>
                    <small class="float-end">
                        Marcos 5:33-34 (NTV)
                    </small>
                </p>
                <br/>
                <h5 class="text-centrado text-600">
                    Estaba usando el testimonio de ella para {{ completa_lugar('siete') | raw }}.
                </h5>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Mientras él todavía hablaba con ella, llegaron mensajeros de la casa de Jairo, el líder de la
                    sinagoga y le dijeron: «Tu hija está muerta. Ya no tiene sentido molestar al Maestro».<br/>
                    Jesús oyó lo que decían y le dijo a Jairo: «<u>No tengas miedo. Sólo ten fe</u>».”
                    <br/>
                    <small class="float-end">
                        Marcos 5:35-36 (NTV)
                    </small>
                </p>
                <br/>
                <p class="text-14-300 font-italic pl-4 text-centrado">
                    “Dios nos hace justos a sus ojos <u>cuando ponemos nuestra fe en Jesucristo</u>. Y eso es verdad
                    para todo el que cree, sea quien fuere.”
                    <br/>
                    <small class="float-end">
                        Romanos 3:22 (NTV)
                    </small>
                </p>
                <br/>


                <hr>

                {#            Pie de las notas      #}

                <div class="col-sm-10 mx-auto my-2">
                    <div class="col-sm-8 mx-auto text-center">
                        Descubre nuestros nuevos mensajes de esperanza, en tu celular, haciendo la Alameda, tu iglesia
                        en tu
                        iglesia en <a class="btn btn-link"
                                      href="https://www.bible.com/organizations/f2e1342b-9c20-4ff5-b38e-c70102f8640e?utm_source=yvapp&utm_medium=share&utm_content=partner-profile"
                                      target="_blank"> Youversion</a>.
                        <br/>
                        La aplicación más descargada en todo el mundo.<br/>
                        Sigue el <a class="btn btn-link"
                                    href="https://www.bible.com/organizations/f2e1342b-9c20-4ff5-b38e-c70102f8640e?utm_source=yvapp&utm_medium=share&utm_content=partner-profile"
                                    target="_blank"> enlace</a> y descubre cómo.
                    </div>

                    {#                <div class="col-12 mx-auto text-left"> #}
                    {#                    <h5>Aprovecha estás ayudas gratuitas:</h5> #}
                    {#                    <h6 class="ml-2"><b>Asesoramiento Financiero</b>: Envia la palabra <a #}
                    {#                                href="https://api.whatsapp.com/send?phone=+5492615178081&amp;text=Asesoramiento"> #}
                    {#                            “Asesoramiento” al 261 517 8081</a></h6> #}
                    {#                    <h6 class="ml-2"><b>Celebremos la Recuperación</b>: Todos los viernes 20:45 hs Grupo de Orientación #}
                    {#                    </h6> #}
                    {#                    <h6 class="ml-2"><b>Puentes</b> (Mediación Comunitaria): Llamá al #}
                    {#                        <a href="tel:+542614251182">4251182</a> , Martes y Jueves de 17 a 19hs</h6> #}
                    {#                </div> #}
                </div>
            </div>
        </div>
    </div>
    {{ encore_entry_script_tags('nota_mensaje') }}
