<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row mt-0">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto mt-0">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <div class="col-sm-10 mx-auto mb-3">
                <div class="col-12 mx-auto text-center mb-0">

                    {#                    <h4 class="text-centrado text-600"> #}
                    {#                        CÓMO LA FE EN JESÚS<br/> #}
                    {#                        CONVIERTE LO POCO EN MUCHO #}
                    {#                    </h4> #}
                    {#                                <img src="{{ asset('images/seis_decisiones.png') }}" #}
                    {#                                     class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
                    {#                    <h6 class="text-14-300 font-italic pl-4 text-centrado"> #}
                    {#                        Marcos 6:34-44 – El Milagro de Alimentar a los 5.000 #}
                    {#                    </h6> #}
                    {#                    <br/> #}
                    {#                    <h5 class="text-centrado text-600"> #}
                    {#                        COMO SALIR DEL POZO DEL ABANDONO<br/> #}
                    {#                        <small>Marcos 1.40-45, Mateo 8.2-4; Lucas 5.12-16</small> #}
                    {#                    </h5> #}

                    <p class="text-14-300 font-italic pl-4 text-izq">
                        “Pero Dios el Señor llamó al hombre y dijo: — ¿Dónde estás? El hombre contestó: —Escuché que
                        andabas por el jardín y tuve miedo porque estoy desnudo. Por eso me escondí.”
                        <br/>
                        <small class="float-end">
                            Génesis 3:9–10 (NVI)
                        </small>
                    </p><br/>

                </div>

                {#            <h6 class="text-centrado"> #}
                {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
                {#            </h6> #}
                {#            <h5 class="text-centrado text-600"> #}
                {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
                {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
                {#            </h5> #}
                <h5 class="text-izq text-600">
                    El temor es poner la fe en: {{ completa_lugar('uno') | raw }}
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Moisés volvió a preguntar: — ¿y qué hago si no me creen ni me hacen caso?, ¿qué hago si me dicen:
                    el Señor no se te ha aparecido?”
                    <br/>
                    <small class="float-end">
                        Éxodo 4:1 (NVI)
                    </small>
                </p><br/>

                <h5 class="text-izq text-600">
                    El temor revela {{ completa_lugar('dos') | raw }}.
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Algunos confían en sus carros de guerra, otros confían en sus caballos, pero nosotros sólo
                    confiamos en nuestro Dios.”
                    <br/>
                    <small class="float-end">
                        Salmos 20:7 (TLA)
                    </small>
                </p><br/>
                <h5 class="text-izq text-600">
                    El temor revela dónde necesitamos {{ completa_lugar('tres') | raw }}.
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “El temor al hombre es una trampa peligrosa, pero la confianza en el Señor trae seguridad.”
                    <br/>
                    <small class="float-end">
                        Proverbios 29:25 (NBV)
                    </small>
                </p><br/>
                <h4 class="text-centrado text-600">
                    ¿Cómo superar nuestros temores?
                </h4>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Pues Dios no nos ha dado un espíritu de temor y timidez sino de <b>poder, amor y autodisciplina</b>.”
                    <br/>
                    <small class="float-end">
                        2° Timoteo 1:7 (NTV)
                    </small>
                </p><br/>
                <h5 class="text-izq text-600">
                    1- Reconocer {{ completa_lugar('cuatro') | raw }}.
                </h5>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Ese día al anochecer dijo a sus discípulos: —Crucemos al otro lado. Dejaron a la multitud y se lo
                    llevaron en la barca donde estaba. También lo acompañaban otras barcas. Se desató entonces una
                    fuerte tormenta y las olas azotaban tanto la barca que ya comenzaba a inundarse. Mientras tanto,
                    Jesús estaba en la popa, durmiendo sobre un cabezal, así que los discípulos lo despertaron. —
                    ¡Maestro! — gritaron—, ¿no te importa que nos ahoguemos?”
                    <br/>
                    <small class="float-end">
                        Marcos 4:35-38 (NVI)
                    </small>
                </p><br/>
                <h5 class="text-izq text-600">
                    2- Recordar {{ completa_lugar('cinco') | raw }}.
                </h5>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Él se levantó, reprendió al viento y ordenó al mar: — ¡Silencio! ¡Cálmate! El viento se calmó y
                    todo quedó completamente tranquilo.”
                    <br/>
                    <small class="float-end">
                        Marcos 4:39 (NVI)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Yo sé que tú puedes hacer todas las cosas, y que ningún propósito tuyo puede ser estorbado.”
                    <br/>
                    <small class="float-end">
                        Job 42:2 (LBLA)
                    </small>
                </p><br/>
                <h5 class="text-izq text-600">
                    3- Confiar {{ completa_lugar('seis') | raw }}.
                </h5>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “¿No se venden cinco gorriones por dos moneditas? Sin embargo, Dios no se olvida de ninguno de
                    ellos. De hecho, él les tiene contados aun los cabellos de su cabeza. No tengan miedo, ustedes valen
                    más que muchos gorriones.”
                    <br/>
                    <small class="float-end">
                        Lucas 12:6-7 (NVI)
                    </small>
                </p><br/>
                <h5 class="text-izq text-600">
                    4- Buscar {{ completa_lugar('siete') | raw }}.
                </h5>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Cuando siento miedo, pongo en ti mi confianza. Confío en Dios y alabo su palabra; confío en Dios y
                    no siento miedo. ¿Qué puede hacerme un simple mortal?”
                    <br/>
                    <small class="float-end">
                        Salmos 56:3-4 (NVI)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “En el amor no hay temor, sino que el amor perfecto echa fuera el temor….”
                    <br/>
                    <small class="float-end">
                        1° Juan 4:18 (NVI)
                    </small>
                </p><br/>


                {#                #}
                {#                <ul> #}
                {#                    <li> #}
                {#                        <h5 class="text-600"> #}
                {#                            Se honesto. ¿Cuándo fue la última vez que comparaste tu vida a la de otro vía redes #}
                {#                            sociales? ¿Cómo te fue? #}
                {#                        </h5> #}
                {#                    </li> #}
                {#                    <li> #}
                {#                        <h5 class="text-600"> #}
                {#                            Lee 2° Corintios 10:12. ¿Contra a qué o a quien te comparas a vos mismo o tu familia? ¿En #}
                {#                            qué te ayuda eso? #}
                {#                        </h5> #}
                {#                    </li> #}
                {#                    <li> #}
                {#                        <h5 class="text-600"> #}
                {#                            Si es que Jesús define tu valor, ¿entonces quién sos y qué tanto vales?<br/> #}
                {#                            Si adoptarás totalmente esta forma de ser, ¿qué cambiaría? #}
                {#                        </h5> #}
                {#                    </li> #}
                {#                </ul> #}


                <hr>

                {#            Pie de las notas      #}

                {#                <div class="col-sm-10 mx-auto my-2"> #}
                {#                    <div class="col-sm-8 mx-auto text-center"> #}
                {#                        Descubre nuestros nuevos mensajes de esperanza, en tu celular, haciendo la Alameda, tu iglesia #}
                {#                        en tu #}
                {#                        iglesia en <a class="btn btn-link" #}
                {#                                      href="https://www.bible.com/organizations/f2e1342b-9c20-4ff5-b38e-c70102f8640e?utm_source=yvapp&utm_medium=share&utm_content=partner-profile" #}
                {#                                      target="_blank"> Youversion</a>. #}
                {#                        <br/> #}
                {#                        La aplicación más descargada en todo el mundo.<br/> #}
                {#                        Sigue el <a class="btn btn-link" #}
                {#                                    href="https://www.bible.com/organizations/f2e1342b-9c20-4ff5-b38e-c70102f8640e?utm_source=yvapp&utm_medium=share&utm_content=partner-profile" #}
                {#                                    target="_blank"> enlace</a> y descubre cómo. #}
                {#                    </div> #}

                {#                    #}{#                <div class="col-12 mx-auto text-left"> #}
                {#                    #}{#                    <h5>Aprovecha estás ayudas gratuitas:</h5> #}
                {#                    #}{#                    <h6 class="ml-2"><b>Asesoramiento Financiero</b>: Envia la palabra <a #}
                {#                    #}{#                                href="https://api.whatsapp.com/send?phone=+5492615178081&amp;text=Asesoramiento"> #}
                {#                    #}{#                            “Asesoramiento” al 261 517 8081</a></h6> #}
                {#                    #}{#                    <h6 class="ml-2"><b>Celebremos la Recuperación</b>: Todos los viernes 20:45 hs Grupo de Orientación #}
                {#                    #}{#                    </h6> #}
                {#                    #}{#                    <h6 class="ml-2"><b>Puentes</b> (Mediación Comunitaria): Llamá al #}
                {#                    #}{#                        <a href="tel:+542614251182">4251182</a> , Martes y Jueves de 17 a 19hs</h6> #}
                {#                    #}{#                </div> #}
                {#                </div> #}
            </div>
        </div>
    </div>
    {{ encore_entry_script_tags('nota_mensaje') }}
