<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <div class="col-sm-10 mx-auto mb-3">
                <div class="col-12 mx-auto text-center mb-0">

                    {#                    <h4 class="text-centrado text-600"> #}
                    {#                        CÓMO LA FE EN JESÚS<br/> #}
                    {#                        CONVIERTE LO POCO EN MUCHO #}
                    {#                    </h4> #}
                    {#                                <img src="{{ asset('images/seis_decisiones.png') }}" #}
                    {#                                     class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
                    {#                    <h6 class="text-14-300 font-italic pl-4 text-centrado"> #}
                    {#                        Marcos 6:34-44 – El Milagro de Alimentar a los 5.000 #}
                    {#                    </h6> #}
                    {#                    <br/> #}
                    {#                    <h5 class="text-centrado text-600"> #}
                    {#                        COMO SALIR DEL POZO DEL ABANDONO<br/> #}
                    {#                        <small>Marcos 1.40-45, Mateo 8.2-4; Lucas 5.12-16</small> #}
                    {#                    </h5> #}

                    <p class="text-14-300 font-italic pl-4 text-izq">
                        Jesús les dijo: «Vayan por <u>todos los países del mundo</u> y anuncien las buenas noticias a
                        todo el mundo.”
                        <small class="float-end" style="font-size: 0.8em">
                            Marcos 16:15 (TLA)
                        </small>
                    </p>
                    <p class="text-14-300 font-italic pl-4 text-izq">
                        “…serán mis <u>testigos</u>, y le <u>hablarán</u> a la gente acerca de mí en todas partes.”
                        <small class="float-end" style="font-size: 0.8em">
                            Hechos 1:8 (NTV)
                        </small>
                    </p>
                    <h6 class="text-centrado text-600">
                        Jesus nos invita a invertir nuestras vidas en la causa más importante de
                        todas: {{ completa_lugar('uno') | raw }}.
                    </h6>

                </div>

                {#            <h6 class="text-centrado"> #}
                {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
                {#            </h6> #}
                {#            <h5 class="text-centrado text-600"> #}
                {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
                {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
                {#            </h5> #}

                <h4 class="text-centrado text-600">
                    5 COSAS PARA RECORDAR QUE TE DARÁN CONFIANZA
                </h4>
                <h5 class="text-centrado text-600">
                    1. Todos tenemos los mismos {{ completa_lugar('dos') | raw }}.
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Dios… sembró la eternidad en el corazón humano”
                    <br/>
                    <small class="float-end">
                        Eclesiastés 3:11 (NTV)
                    </small>
                </p><br/>
                <h5 class="text-centrado text-600">
                    2. Todos nos hacemos las mismas {{ completa_lugar('tres') | raw }}:
                </h5>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “… Aun así el ser humano no puede comprender todo el alcance de lo que Dios ha hecho desde el
                    principio hasta el fin.”
                    <br/>
                    <small class="float-end">
                        Eclesiastés 3:11 (NTV)
                    </small>
                </p><br/>
                <h5 class="text-centrado text-600">
                    3. La mayoría de las personas realmente {{ completa_lugar('cuatro') | raw }} lo que creen.
                </h5>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Conocerán la verdad, y la verdad los hará libres.”
                    <br/>
                    <small class="float-end">
                        Juan 8:32 (NVI)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Dios no es un Dios de confusión, sino de paz.”
                    <br/>
                    <small class="float-end">
                        1° Corintios 14:33 (PDT)
                    </small>
                </p><br/>
                <h5 class="text-centrado text-600">
                    4. Puedo ayudar a cualquiera si escucho la {{ completa_lugar('cinco') | raw }} de su corazón.
                </h5>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Pues todos hemos pecado; nadie puede alcanzar la meta gloriosa establecida por Dios.”
                    <br/>
                    <small class="float-end">
                        Romanos 3:23 (NTV)
                    </small>
                </p><br/>
                <h5 class="text-centrado text-600">
                    5. Las personas tienen {{ completa_lugar('seis') | raw }} pero vos tenés el Espíritu Santo de Dios y
                    la verdad.
                </h5>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Porque el Espíritu de Dios no nos hace cobardes. Al contrario, nos da poder para amar a los
                    demás,... Por lo tanto, no te avergüences de hablar bien de nuestro Señor Jesús…!”
                    <small class="float-end" style="font-size: 0.8em">
                        2 Timoteo 1:7-8 (TLA)
                    </small>
                </p>
                <h4 class="text-centrado text-600">
                    ¿COMO COMPARTIR MI ESPERANZA?
                </h4>
                <h5 class="text-centrado text-600">
                    1. {{ completa_lugar('siete') | raw }}!
                </h5>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Procuren llevar una vida ejemplar entre sus vecinos no creyentes. Así, por más que ellos los acusen
                    de actuar mal, verán que ustedes tienen una conducta honorable y le darán honra a Dios...”
                    <small class="float-end" style="font-size: 0.8em">
                        1° Pedro 2:12 (NTV)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Practiquen la hospitalidad.”
                    <small class="float-end" style="font-size: 0.8em">
                        Romanos 12:13 (NVI)
                    </small>
                </p><br/>
                <h5 class="text-centrado text-600">
                    2. {{ completa_lugar('ocho') | raw }}!
                </h5>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Estén siempre listos a responder a todo el que les pregunte cuál es la razón de su esperanza.”
                    <small class="float-end" style="font-size: 0.8em">
                        1° Pedro 3:15 (PDT)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-centrado">
                    ¡Sumaté al próximo entrenamiento de Amigos del Festival!
                </p>
                <h5 class="text-centrado text-600">
                    3. {{ completa_lugar('nueve') | raw }} POR NO HABERLA COMPARTIDO ANTES.
                </h5>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “El justo sirve de guía a su prójimo”
                    <small class="float-end" style="font-size: 0.8em">
                        Proverbios 12:26 (DHH)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Un verdadero amigo estará siempre allí para amarte”
                    <small class="float-end" style="font-size: 0.8em">
                        Proverbios 17:17 (VBL)
                    </small>
                </p><br/>

                <h5 class="text-centrado text-600">
                    4. {{ completa_lugar('diez') | raw }}.
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Responder antes de escuchar es estupidez y vergüenza.”
                    <small class="float-end" style="font-size: 0.8em">
                        Proverbios 18:13 (VBL)
                    </small>
                </p><br/>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Descubrir lo que piensan los demás es como mirar en aguas profundas. Pero el que tiene
                    entendimiento los conocerá.”
                    <small class="float-end" style="font-size: 0.8em">
                        Proverbios 20:5 (VBL)
                    </small>
                </p><br/>
                <h5 class="text-centrado text-600">
                    5. {{ completa_lugar('once') | raw }}.
                </h5>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Lo que sé es que yo antes era ciego, ¡y ahora puedo ver!”
                    <small class="float-end" style="font-size: 0.8em">
                        Juan 9:25 (NTV)
                    </small>
                </p><br/>

                <h5 class="text-centrado text-600">
                    6. {{ completa_lugar('doce') | raw }} A UNA CELEBRACIÓN.
                </h5>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    Entonces el amo le dijo al siervo: ‘Sal a los caminos y senderos del campo, y haz que vengan las
                    personas, quiero que se llene mi casa.”
                    <small class="float-end" style="font-size: 0.8em">
                        Lucas 14:23 (VBL)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Me dio una nueva canción para cantar, una canción de alabanza al Señor. Muchas personas verán y se
                    asombrarán, y depositarán su confianza en él.”
                    <small class="float-end" style="font-size: 0.8em">
                        Salmos 40:3 (VBL)
                    </small>
                </p><br/>


                <div class="col-12 mx-auto text-left">

                    <p class="text-14-300 font-italic pl-4 text-centrado">
                        ¿POR QUÉ DEBEMOS COMPARTIR LA ESPERANZA?
                    </p>
                    <p class="text-14-300 font-italic pl-4 text-izq">
                        1. ¡Todo el mundo necesita lo que Jesús ofrece!
                        <br/>
                        <small class="float-end">
                            Mateo 11:28-30
                        </small>
                    </p>
                    <br/>
                    <p class="text-14-300 font-italic pl-4 text-izq">
                        2. Jesús nos manda a hacerlo.
                        <br/>
                        <small class="float-end">
                            Marcos 8:38
                        </small>
                    </p>
                    <br/>
                    <p class="text-14-300 font-italic pl-4 text-izq">
                        3. Estamos agradecidos con Dios y amamos a la gente.
                        <br/>
                        <small class="float-end">
                            2° Corintios 5:14
                        </small>
                    </p>
                    <br/>
                    <p class="text-14-300 font-italic pl-4 text-izq">
                        4. Seremos recompensados en el cielo.
                        <br/>
                        <small class="float-end">
                            Proverbios 11:30
                        </small>
                    </p>
                    <br/>


                </div>

                <hr>


                {#            Pie de las notas      #}


                <div class="col-sm-10 mx-auto my-2">
                    <div class="col-sm-8 mx-auto text-center">
                        Descubre nuestros nuevos mensajes de esperanza, en tu celular, haciendo la Alameda, tu iglesia
                        en tu
                        iglesia en <a class="btn btn-link"
                                      href="https://www.bible.com/organizations/f2e1342b-9c20-4ff5-b38e-c70102f8640e?utm_source=yvapp&utm_medium=share&utm_content=partner-profile"
                                      target="_blank"> Youversion</a>.
                        <br/>
                        La aplicación más descargada en todo el mundo.<br/>
                        Sigue el <a class="btn btn-link"
                                    href="https://www.bible.com/organizations/f2e1342b-9c20-4ff5-b38e-c70102f8640e?utm_source=yvapp&utm_medium=share&utm_content=partner-profile"
                                    target="_blank"> enlace</a> y descubre cómo.
                    </div>

                    {#                <div class="col-12 mx-auto text-left"> #}
                    {#                    <h5>Aprovecha estás ayudas gratuitas:</h5> #}
                    {#                    <h6 class="ml-2"><b>Asesoramiento Financiero</b>: Envia la palabra <a #}
                    {#                                href="https://api.whatsapp.com/send?phone=+5492615178081&amp;text=Asesoramiento"> #}
                    {#                            “Asesoramiento” al 261 517 8081</a></h6> #}
                    {#                    <h6 class="ml-2"><b>Celebremos la Recuperación</b>: Todos los viernes 20:45 hs Grupo de Orientación #}
                    {#                    </h6> #}
                    {#                    <h6 class="ml-2"><b>Puentes</b> (Mediación Comunitaria): Llamá al #}
                    {#                        <a href="tel:+542614251182">4251182</a> , Martes y Jueves de 17 a 19hs</h6> #}
                    {#                </div> #}
                </div>
            </div>
        </div>
    </div>
    {{ encore_entry_script_tags('nota_mensaje') }}
