<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row mt-0">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto mt-0">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <div class="col-sm-10 mx-auto mb-3">
                <div class="col-12 mx-auto text-center mb-0">

                    {#                    <h4 class="text-centrado text-600"> #}
                    {#                        CÓMO LA FE EN JESÚS<br/> #}
                    {#                        CONVIERTE LO POCO EN MUCHO #}
                    {#                    </h4> #}
                    {#                                <img src="{{ asset('images/seis_decisiones.png') }}" #}
                    {#                                     class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
                    {#                    <h6 class="text-14-300 font-italic pl-4 text-centrado"> #}
                    {#                        Marcos 6:34-44 – El Milagro de Alimentar a los 5.000 #}
                    {#                    </h6> #}
                    {#                    <br/> #}
                    {#                    <h5 class="text-centrado text-600"> #}
                    {#                        COMO SALIR DEL POZO DEL ABANDONO<br/> #}
                    {#                        <small>Marcos 1.40-45, Mateo 8.2-4; Lucas 5.12-16</small> #}
                    {#                    </h5> #}

                    <p class="text-14-300 font-italic pl-4 text-izq">
                        “Si tu visión es clara, todo tu ser disfrutará de la luz. Pero si tu visión está nublada, todo
                        tu ser estará en oscuridad. Si la luz que hay en ti es oscuridad, ¡qué densa será esa
                        oscuridad!”
                        <br/>
                        <small class="float-end">
                            Mateo 6:22-23 (NVI)
                        </small>
                    </p><br/>
                    <p class="text-14-300 font-italic pl-4 text-izq">
                        “Pido también que les sean iluminados <u>los ojos del corazón</u> para que sepan a qué esperanza
                        él los ha llamado, cuál es la riqueza de su gloriosa herencia entre los santos”
                        <br/>
                        <small class="float-end">
                            Efesios 1:18 (NVI)
                        </small>
                    </p><br/>

                </div>

                {#            <h6 class="text-centrado"> #}
                {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
                {#            </h6> #}
                {#            <h5 class="text-centrado text-600"> #}
                {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
                {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
                {#            </h5> #}
                <h4 class="text-centrado text-600">
                    COMO CAPTURAR/RECAPTURAR TU VISIÓN
                </h4>
                <p class="text-14-300 font-italic pl-4 text-centrado">
                    “Entonces el SEÑOR llevó a Abram afuera y le dijo: <u>Mira</u> al cielo y, si puedes, cuenta las
                    estrellas. ¡Ese es el número de descendientes que tendrás!
                    <br/>
                    <small class="float-end">
                        Génesis 15:5 (NTV)
                    </small>
                </p><br/>
                <h5 class="text-izq text-600">
                    1. (S) {{ completa_lugar('uno') | raw }} DE LA TIENDA, LIMPIA TUS OJOS
                </h5>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Entonces el SEÑOR llevó a Abram afuera”
                    <br/>
                    <small class="float-end">
                        Génesis 15:5 (NTV)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Te aconsejo que de mí compres ... colirio para que te lo pongas en los ojos y recobres la vista.”
                    <br/>
                    <small class="float-end">
                        Apocalipsis 3:18 (NVI)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Decían: La tierra que hemos explorado se traga a sus habitantes, y los hombres que allí
                    <u>vimos</u> son enormes... Comparados con ellos, parecíamos langostas, y <u>así nos veían</u> ellos
                    a nosotros.”
                    <br/>
                    <small class="float-end">
                        Números 13:32-33 (NVI)
                    </small>
                </p><br/>


                <h5 class="text-izq text-600">
                    2. (S) {{ completa_lugar('dos') | raw }} A LA CIMA, MIRA DESDE ARRIBA
                </h5>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “El SEÑOR le dijo a Abram: «Mira lo más lejos que puedas en todas las direcciones: al norte y al
                    sur, al oriente y al occidente. ¡Yo te doy toda esta tierra, tan lejos <u>como alcances a ver</u>!”
                    <br/>
                    <small class="float-end">
                        Génesis 13:14-15 (NTV)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Y le dijo: Mira al cielo y, si puedes, <u>cuenta las estrellas</u>. ¡Ese es el número de
                    descendientes que tendrás!”
                    <br/>
                    <small class="float-end">
                        {#                        Génesis 13:14-15 (NTV) #}
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “<u>Sube</u> acá y <u>te mostraré</u> las cosas que tienen que suceder después de estas.”
                    <br/>
                    <small class="float-end">
                        Apocalipsis 4:1 (DHH)
                    </small>
                </p><br/>

                <h5 class="text-izq text-600">
                    3. (E) {{ completa_lugar('tres') | raw }} SU VERSIÓN, DEJATE ENSEÑAR
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Así dice el Señor omnipotente, el Santo de Israel: “En el <u>arrepentimiento</u> y la calma está su
                    salvación, en la serenidad y la confianza está su fuerza, ¡pero ustedes no lo quieren reconocer!”
                    <br/>
                    <small class="float-end">
                        Isaías 30:15 (NVI)
                    </small>
                </p><br/>

                <h5 class="text-izq text-600">
                    4. (C) {{ completa_lugar('cuatro') | raw }} POR EL VALLE, SIENTE EL DOLOR
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Cuando Moisés había crecido, fue a visitar a su pueblo, los hebreos. <u>Los vio</u> haciendo
                    trabajos forzados. También vio a un egipcio golpeando a un hebreo, uno de su propio pueblo.”
                    <br/>
                    <small class="float-end">
                        Éxodo 2:11 (VBL)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “No fui desobediente a esa visión celestial. “
                    <br/>
                    <small class="float-end">
                        Hechos 26:19 (NVI)
                    </small>
                </p><br/>

                <h5 class="text-izq text-600">
                    5. CAMINA CON {{ completa_lugar('cinco') | raw }}, VUELA CON LAS ÁGUILAS, DEJATE INSPIRAR
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Sólo trescientos de los hombres <u>bebieron con las manos</u>. Los demás se arrodillaron para beber
                    con la boca en el arroyo. Entonces el SEÑOR le dijo a Gedeón: «<u>Con estos trescientos hombres</u>,
                    rescataré a Israel y te daré la victoria sobre los madianitas. Envía a todos los demás a su casa».”
                    <br/>
                    <small class="float-end">
                        Jueces 7:6-7 (NTV)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Ustedes dicen que aún faltan cuatro meses para la cosecha. Pero yo les digo: <u>Levanten los ojos y
                        miren</u> los campos: ya están madurando para la siega.”
                    <br/>
                    <small class="float-end">
                        Juan 4:35 (BPD)
                    </small>
                </p><br/>
                <h5 class="text-izq text-600">
                    6. (I) {{ completa_lugar('seis') | raw }}, CON DIOS, SUEÑA LO IMPOSIBLE
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Para aquellos que lo aman, Dios ha preparado cosas que nadie jamás pudo ver, ni escuchar ni <u>imaginar</u>.
                    <br/>
                    <small class="float-end">
                        1° Corintios 2:9 (TLA)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “—No tengas miedo. El ejército que lucha por nosotros es más grande que el que lucha por ellos.
                    Entonces Eliseo oró y dijo: —Señor, <u>abre los ojos de mi siervo para que pueda ver</u>.”
                    <br/>
                    <small class="float-end">
                        2° Reyes 6:15-17 (PDT)
                    </small>
                </p><br/>
                <h5 class="text-izq text-600">
                    7. (E) {{ completa_lugar('siete') | raw }} LA VISIÓN, CORRE EL RIESGO
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Entonces el Señor me dijo: <u>Escribe la visión</u>, escríbela en tablas para que puedan leerla
                    fácilmente. Porque la visión es para un tiempo futuro. Es sobre el fin y no miente. ¡Si parece
                    demorarse en su cumplimiento, espera, porque <u>sin duda llegará</u> y no tardará!”
                    <br/>
                    <small class="float-end">
                        Habacuc 2:2-3 (VBL)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Pues vivimos por la <u>fe</u> y no por lo que vemos.”
                    <br/>
                    <small class="float-end">
                        2° Corintios 5:7 (PDT)
                    </small>
                </p><br/>


                {#                #}
                {#                <ul> #}
                {#                    <li> #}
                {#                        <h5 class="text-600"> #}
                {#                            Se honesto. ¿Cuándo fue la última vez que comparaste tu vida a la de otro vía redes #}
                {#                            sociales? ¿Cómo te fue? #}
                {#                        </h5> #}
                {#                    </li> #}
                {#                    <li> #}
                {#                        <h5 class="text-600"> #}
                {#                            Lee 2° Corintios 10:12. ¿Contra a qué o a quien te comparas a vos mismo o tu familia? ¿En #}
                {#                            qué te ayuda eso? #}
                {#                        </h5> #}
                {#                    </li> #}
                {#                    <li> #}
                {#                        <h5 class="text-600"> #}
                {#                            Si es que Jesús define tu valor, ¿entonces quién sos y qué tanto vales?<br/> #}
                {#                            Si adoptarás totalmente esta forma de ser, ¿qué cambiaría? #}
                {#                        </h5> #}
                {#                    </li> #}
                {#                </ul> #}


                <hr>
                {#                Cuadrantes    #}

                {#                <div class="col-sm-12 row"> #}
                {#                    <div class="col-sm-12 col-md-6"> #}
                {#                        <h6> Motivación Interna - Motivación Natural</h6> #}
                {#                        <ul> #}
                {#                            <li> #}
                {#                                Identidad y Autoexpresión #}
                {#                            </li> #}
                {#                            <li> #}
                {#                                Reconocimiento #}
                {#                            </li> #}
                {#                            <li> #}
                {#                                Placer #}
                {#                            </li> #}
                {#                        </ul> #}
                {#                        <h6> #}
                {#                            (S){{ completa_lugar('tres') | raw }} #}
                {#                        </h6> #}
                {#                    </div> #}
                {#                    <div class="col-sm-12 col-md-6"> #}
                {#                        <h6> Motivación Interna - Motivación Espiritual</h6> #}
                {#                        <ul> #}
                {#                            <li> #}
                {#                                Pasión por la verdad #}
                {#                            <li> #}
                {#                                Compasión por otros #}
                {#                            </li> #}
                {#                            <li> #}
                {#                                Devoción a Dios #}
                {#                            </li> #}
                {#                        </ul> #}
                {#                        <h6> #}
                {#                            (A){{ completa_lugar('cuatro') | raw }} #}
                {#                        </h6> #}
                {#                    </div> #}

                {#                    <div class="col-sm-12 col-md-6"> #}
                {#                        <h6> Motivación Externa - Motivación Natural</h6> #}
                {#                        <ul> #}
                {#                            <li> #}
                {#                                Paga #}
                {#                            </li> #}
                {#                            <li> #}
                {#                                Presión #}
                {#                            </li> #}
                {#                            <li> #}
                {#                                Tortura #}
                {#                            </li> #}
                {#                        </ul> #}
                {#                        <h6> #}
                {#                            (M){{ completa_lugar('cinco') | raw }} #}
                {#                        </h6> #}
                {#                    </div> #}
                {#                    <div class="col-sm-12 col-md-6"> #}
                {#                        <h6> Motivación Externa - Motivación Espiritual</h6> #}
                {#                        <ul> #}
                {#                            <li> #}
                {#                                Culpa #}
                {#                            <li> #}
                {#                                Vergüenza #}
                {#                            </li> #}
                {#                            <li> #}
                {#                                Temor #}
                {#                            </li> #}
                {#                        </ul> #}
                {#                        <h6> #}
                {#                            (R){{ completa_lugar('seis') | raw }} #}
                {#                        </h6> #}
                {#                    </div> #}

                {#                </div> #}



                {#            Pie de las notas      #}

                {#                <div class="col-sm-10 mx-auto my-2"> #}
                {#                    <div class="col-sm-8 mx-auto text-center"> #}
                {#                        Descubre nuestros nuevos mensajes de esperanza, en tu celular, haciendo la Alameda, tu iglesia #}
                {#                        en tu #}
                {#                        iglesia en <a class="btn btn-link" #}
                {#                                      href="https://www.bible.com/organizations/f2e1342b-9c20-4ff5-b38e-c70102f8640e?utm_source=yvapp&utm_medium=share&utm_content=partner-profile" #}
                {#                                      target="_blank"> Youversion</a>. #}
                {#                        <br/> #}
                {#                        La aplicación más descargada en todo el mundo.<br/> #}
                {#                        Sigue el <a class="btn btn-link" #}
                {#                                    href="https://www.bible.com/organizations/f2e1342b-9c20-4ff5-b38e-c70102f8640e?utm_source=yvapp&utm_medium=share&utm_content=partner-profile" #}
                {#                                    target="_blank"> enlace</a> y descubre cómo. #}
                {#                    </div> #}

                {#                    #}{#                <div class="col-12 mx-auto text-left"> #}
                {#                    #}{#                    <h5>Aprovecha estás ayudas gratuitas:</h5> #}
                {#                    #}{#                    <h6 class="ml-2"><b>Asesoramiento Financiero</b>: Envia la palabra <a #}
                {#                    #}{#                                href="https://api.whatsapp.com/send?phone=+5492615178081&amp;text=Asesoramiento"> #}
                {#                    #}{#                            “Asesoramiento” al 261 517 8081</a></h6> #}
                {#                    #}{#                    <h6 class="ml-2"><b>Celebremos la Recuperación</b>: Todos los viernes 20:45 hs Grupo de Orientación #}
                {#                    #}{#                    </h6> #}
                {#                    #}{#                    <h6 class="ml-2"><b>Puentes</b> (Mediación Comunitaria): Llamá al #}
                {#                    #}{#                        <a href="tel:+542614251182">4251182</a> , Martes y Jueves de 17 a 19hs</h6> #}
                {#                    #}{#                </div> #}
                {#                </div> #}
            </div>
        </div>
    </div>
    {{ encore_entry_script_tags('nota_mensaje') }}
