<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <div class="col-sm-10 mx-auto mb-3">
                <div class="col-12 mx-auto text-center mb-0">

                    {#                    <h4 class="text-centrado text-600"> #}
                    {#                        CÓMO LA FE EN JESÚS<br/> #}
                    {#                        CONVIERTE LO POCO EN MUCHO #}
                    {#                    </h4> #}
                    {#                                <img src="{{ asset('images/seis_decisiones.png') }}" #}
                    {#                                     class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
                    {#                    <h6 class="text-14-300 font-italic pl-4 text-centrado"> #}
                    {#                        Marcos 6:34-44 – El Milagro de Alimentar a los 5.000 #}
                    {#                    </h6> #}
                    {#                    <br/> #}
                    {#                    <h5 class="text-centrado text-600"> #}
                    {#                        COMO SALIR DEL POZO DEL ABANDONO<br/> #}
                    {#                        <small>Marcos 1.40-45, Mateo 8.2-4; Lucas 5.12-16</small> #}
                    {#                    </h5> #}

                    <p class="text-14-300 font-italic pl-4 text-izq">
                        “Cuando Jesús regresó a Capernaúm varios días después, enseguida corrió la voz de que había
                        vuelto a casa.<<br>
                        <sup>2</sup> Pronto la casa donde se hospedaba estaba tan llena de visitas que no había lugar ni
                        siquiera frente a la puerta. Mientras él les predicaba la palabra de Dios,<<br>
                        <sup>3</sup> llegaron cuatro hombres cargando a un paralítico en una camilla.<br>
                        <sup>4</sup> Como no podían llevarlo hasta Jesús debido a la multitud, abrieron un agujero en el
                        techo, encima de donde estaba Jesús. Luego bajaron al hombre en la camilla, justo delante de
                        Jesús.<br/>
                        <sup>5</sup> Al ver la fe de ellos, Jesús le dijo al paralítico: «Hijo mío, tus pecados son
                        perdonados».<br/>
                        <sup>6</sup> Algunos de los maestros de la ley religiosa que estaban allí sentados
                        pensaron:<<br>
                        <sup>7</sup> «¿Qué es lo que dice? ¡Es una blasfemia! ¡Sólo Dios puede perdonar pecados!».<<br>
                        <sup>8</sup>... Entonces Jesús miró al paralítico y dijo:<br/>
                        <sup>11</sup> «¡Ponte de pie, toma tu camilla y vete a tu casa!».<br/>
                        <sup>12</sup> Y el hombre se levantó de un salto, tomó su camilla y salió caminando entre los
                        espectadores, que habían quedado atónitos. Todos estaban asombrados y alababan a Dios,
                        exclamando: <<br>
                        «¡Jamás hemos visto algo así!».”
                        <br/>
                        <small class="float-end">
                            Marcos 2:1-12 (NTV)
                        </small>
                    </p><br/>
                    <p class="text-14-300 font-italic pl-4 text-izq">
                        “Sirvo a Dios al anunciar la Buena Noticia acerca de su Hijo.”
                        <br/>
                        <small class="float-end">
                            Romanos 1:9 (NVI)
                        </small>
                    </p><br/>
                    <p class="text-14-300 font-italic pl-4 text-izq">
                        “Trabajamos juntos como socios que pertenecen a Dios.”
                        <br/>
                        <small class="float-end">
                            1 Corintios 3:9 (NTV)
                        </small>
                    </p><br/>
                    <p class="text-14-300 font-italic pl-4 text-izq">
                        “Dos pueden hacer más que el doble de lo que hace uno…”
                        <br/>
                        <small class="float-end">
                            Eclesiastés 4:9 (LB)
                        </small>
                    </p><br/>


                </div>

                {#            <h6 class="text-centrado"> #}
                {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
                {#            </h6> #}
                {#            <h5 class="text-centrado text-600"> #}
                {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
                {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
                {#            </h5> #}
                <h4 class="text-centrado text-600">
                    6 COSAS QUE HICIERON ESTOS AMIGOS.
                </h4>
                <h5 class="text-izq text-600">
                    1. Se {{ completa_lugar('uno') | raw }} por su amigo herido.
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Si no tengo amor, soy como metal que resuena y címbalo que retiñe”
                    <br/>
                    <small class="float-end">
                        1° Corintios 13:1
                    </small>
                </p><br/>
                <h6 class="text-centrado text-600">
                    El principio de la compasión
                </h6>


                <h5 class="text-izq text-600">
                    2. Creyeron que Jesús {{ completa_lugar('dos') | raw }} a su amigo.
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Al ver Jesús la fe de ellos, le dijo: Amigo, tus pecados te son perdonados”
                    <br/>
                    <small class="float-end">
                        Lucas 5:20
                    </small>
                </p><br/>
                <h6 class="text-centrado text-600">
                    El principio de la fe
                </h6>

                <h5 class="text-izq text-600">
                    3. Trajeron a su {{ completa_lugar('tres') | raw }} ante Jesús.
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Trajeron a Jesús un hombre paralítico tendido en una camilla”.
                    <br/>
                    <small class="float-end">
                        Mateo 9:2
                    </small>
                </p><br/>
                <h6 class="text-centrado text-600">
                    El principio de la persistencia
                </h6>

                <h5 class="text-izq text-600">
                    4. Se {{ completa_lugar('cuatro') | raw }} a hacer algo diferente.
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Y como no hallaban entrada a causa de la multitud, Subieron al tejado, quitaron unas tejas y lo
                    bajaron en medio de todos.”
                    <br/>
                    <small class="float-end">
                        Lucas 5:19
                    </small>
                </p><br/>
                <h6 class="text-centrado text-600">
                    El principio de la innovación
                </h6>

                <h5 class="text-izq text-600">
                    5. Trabajaron {{ completa_lugar('cinco') | raw }} para hacer el trabajo.
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “… Subieron al techo y, por el techo, bajaron al hombre en su camilla hasta el centro de la
                    multitud”.
                    <br/>
                    <small class="float-end">
                        Lucas 5:19
                    </small>
                </p><br/>
                <h6 class="text-centrado text-600">
                    El principio de la cooperación
                </h6>

                <h5 class="text-izq text-600">
                    6. Estaban {{ completa_lugar('seis') | raw }} a pagar el costo del techo.
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “¿No deberíamos tener nosotros aún mayor derecho a que nos sostengan? Pero nunca nos hemos valido de
                    ese derecho. Preferiríamos soportar cualquier cosa antes que ser un obstáculo a la Buena Noticia
                    acerca de Cristo.”
                    <br/>
                    <small class="float-end">
                        1° Corintios 9:12 (NTV)
                    </small>
                </p><br/>
                <h6 class="text-centrado text-600">
                    El principio del sacrificio
                </h6>


                <hr>

                {#            Pie de las notas      #}

                <div class="col-sm-10 mx-auto my-2">
                    <div class="col-sm-8 mx-auto text-center">
                        Descubre nuestros nuevos mensajes de esperanza, en tu celular, haciendo la Alameda, tu iglesia
                        en tu
                        iglesia en <a class="btn btn-link"
                                      href="https://www.bible.com/organizations/f2e1342b-9c20-4ff5-b38e-c70102f8640e?utm_source=yvapp&utm_medium=share&utm_content=partner-profile"
                                      target="_blank"> Youversion</a>.
                        <br/>
                        La aplicación más descargada en todo el mundo.<br/>
                        Sigue el <a class="btn btn-link"
                                    href="https://www.bible.com/organizations/f2e1342b-9c20-4ff5-b38e-c70102f8640e?utm_source=yvapp&utm_medium=share&utm_content=partner-profile"
                                    target="_blank"> enlace</a> y descubre cómo.
                    </div>

                    {#                <div class="col-12 mx-auto text-left"> #}
                    {#                    <h5>Aprovecha estás ayudas gratuitas:</h5> #}
                    {#                    <h6 class="ml-2"><b>Asesoramiento Financiero</b>: Envia la palabra <a #}
                    {#                                href="https://api.whatsapp.com/send?phone=+5492615178081&amp;text=Asesoramiento"> #}
                    {#                            “Asesoramiento” al 261 517 8081</a></h6> #}
                    {#                    <h6 class="ml-2"><b>Celebremos la Recuperación</b>: Todos los viernes 20:45 hs Grupo de Orientación #}
                    {#                    </h6> #}
                    {#                    <h6 class="ml-2"><b>Puentes</b> (Mediación Comunitaria): Llamá al #}
                    {#                        <a href="tel:+542614251182">4251182</a> , Martes y Jueves de 17 a 19hs</h6> #}
                    {#                </div> #}
                </div>
            </div>
        </div>
    </div>
    {{ encore_entry_script_tags('nota_mensaje') }}
