<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row mt-0">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto mt-0">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <div class="col-sm-10 mx-auto mb-3">
                <div class="col-12 mx-auto text-center mb-0">

                    {#                    <h4 class="text-centrado text-600"> #}
                    {#                        CÓMO LA FE EN JESÚS<br/> #}
                    {#                        CONVIERTE LO POCO EN MUCHO #}
                    {#                    </h4> #}
                    {#                                <img src="{{ asset('images/seis_decisiones.png') }}" #}
                    {#                                     class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
                    {#                    <h6 class="text-14-300 font-italic pl-4 text-centrado"> #}
                    {#                        Marcos 6:34-44 – El Milagro de Alimentar a los 5.000 #}
                    {#                    </h6> #}
                    {#                    <br/> #}
                    {#                    <h5 class="text-centrado text-600"> #}
                    {#                        COMO SALIR DEL POZO DEL ABANDONO<br/> #}
                    {#                        <small>Marcos 1.40-45, Mateo 8.2-4; Lucas 5.12-16</small> #}
                    {#                    </h5> #}

                    {#                    <p class="text-14-300 font-italic pl-4 text-izq"> #}
                    {#                        “Jesús nació en Belén de Judea durante el reinado de Herodes. Por ese tiempo, #}
                    {#                        algunos sabios de países del oriente llegaron a Jerusalén y preguntaron: #}
                    {#                        «¿Dónde está el rey de los judíos que acaba de nacer? Vimos su estrella mientras #}
                    {#                        salía y hemos venido a adorarlo». Cuando el rey Herodes oyó eso, se perturbó #}
                    {#                        profundamente igual que todos en Jerusalén. Mandó llamar a los principales #}
                    {#                        sacerdotes y maestros de la ley religiosa y les preguntó: ¿Dónde se supone #}
                    {#                        que nacerá el Mesías? En Belén de Judea —le dijeron— porque eso es lo que #}
                    {#                        escribió el profeta: “Y tú, Belén, en la tierra de Judá, no eres la menor entre #}
                    {#                        las ciudades reinantes de Judá, porque de ti saldrá un gobernante que será el #}
                    {#                        pastor de mi pueblo Israel”. Luego Herodes convocó a los sabios a una reunión #}
                    {#                        privada y, por medio de ellos, se enteró del momento en el que había aparecido #}
                    {#                        la estrella por primera vez. Entonces les dijo: «Vayan a Belén y busquen al niño #}
                    {#                        con esmero. Cuando lo encuentren, vuelvan y díganme dónde está para que #}
                    {#                        yo también vaya y lo adore». Después de esa reunión, los sabios siguieron su #}
                    {#                        camino, y la estrella que habían visto en el oriente los guió hasta Belén. Iba #}
                    {#                        delante de ellos y se detuvo sobre el lugar donde estaba el niño. Cuando vieron #}
                    {#                        la estrella, ¡se llenaron de alegría! Entraron en la casa y vieron al niño con su #}
                    {#                        madre, María, y se inclinaron y lo adoraron. Luego abrieron sus cofres de tesoro #}
                    {#                        y le dieron regalos de oro, incienso y mirra.” #}
                    {#                        <br/> #}
                    {#                        <small class="float-end"> #}
                    {#                            Mateo 2:1-11 (NTV) #}
                    {#                        </small> #}
                    {#                    </p><br/> #}

                </div>

                {#            <h6 class="text-centrado"> #}
                {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
                {#            </h6> #}
                {#            <h5 class="text-centrado text-600"> #}
                {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
                {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
                {#            </h5> #}
                <h4 class="text-centrado text-600">
                    DONDE COMIENZA LA COMPARACIÓN, TERMINA LA {{ completa_lugar('uno') | raw }}.
                </h4>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “… ellos … sólo se comparan el uno con el otro, empleándose a sí mismos como estándar de medición.
                    ¡Qué ignorantes!”
                    <br/>
                    <small class="float-end">
                        2 Corintios 10:12 (NTV)
                    </small>
                </p><br/>

                <h4 class="text-centrado text-600">
                    LA COMPARACIÓN TE HACE SENTIR {{ completa_lugar('dos') | raw }} O {{ completa_lugar('tres') | raw }}
                    <br/>- NINGUNA DE LAS DOS COSAS {{ completa_lugar('cuatro') | raw }} A DIOS.
                </h4>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Corrió y se encontró con Simón Pedro y con el otro discípulo, <u>a quien Jesús amaba</u>. Les dijo:
                    «¡Sacaron de la tumba el cuerpo del Señor, y no sabemos dónde lo pusieron!». Pedro y el otro
                    discípulo se dirigieron a la tumba. Ambos iban corriendo, <u>pero el otro discípulo corrió más
                        aprisa que Pedro y llegó primero a la tumba</u>. Se agachó a mirar adentro y vio los lienzos de
                    lino apoyados ahí, pero no entró. <u>Luego llegó Simón Pedro</u> y entró en la tumba. Él también
                    notó los lienzos de lino allí,” Entonces <u>el discípulo que había llegado primero</u> a la tumba
                    también entró y vio y creyó,”
                    <br/>
                    <small class="float-end">
                        Juan 20:2-6.8 (NTV)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Pedro se dio vuelta y vio que, detrás de ellos, estaba <u>el discípulo a quien Jesús amaba</u>…
                    Pedro le preguntó a Jesús: —Señor, <u>¿qué va a pasar con él?</u> Jesús contestó: —Si quiero que él
                    siga vivo hasta que yo regrese, <u>¿qué tiene que ver contigo?</u> En cuanto a ti, sígueme.”
                    <br/>
                    <small class="float-end">
                        Juan 21:20-22 (NTV)
                    </small>
                </p><br/>
                <h4 class="text-centrado text-600">
                    QUIEN O QUE VA A DEFINIR MI VALOR?
                </h4>
                <h5 class="text-centrado text-600">
                    {{ completa_lugar('cinco') | raw }}<br/>
                    {{ completa_lugar('seis') | raw }}
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Por lo tanto, ya que estamos rodeados por una enorme multitud de testigos de la vida de fe,
                    quitémonos <u>todo peso que nos impida correr</u>, especialmente <u>el pecado que tan fácilmente nos
                        hace tropezar</u>. Y corramos con perseverancia <u>la carrera que Dios nos ha puesto por
                        delante</u>. Esto lo hacemos al <u>fijar la mirada en Jesús</u>, el campeón que inicia y
                    perfecciona nuestra fe….”
                    <br/>
                    <small class="float-end">
                        Hebreos 12:1-2 (NTV)
                    </small>
                </p><br/>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “…¡Así que corran para ganar! Todos los atletas se entrenan con disciplina. Lo hacen para ganar un
                    premio que se desvanecerá, pero nosotros lo hacemos por un premio eterno. <u>Por eso yo corro cada
                        paso con propósito…</u>”
                    <br/>
                    <small class="float-end">
                        1° Corintios 9:24-26 (NTV)
                    </small>
                </p><br/>
                <h4 class="text-centrado text-600">
                    Conversalo
                </h4>
                <ul>
                    <li>
                        <h5 class="text-600">
                            Se honesto. ¿Cuándo fue la última vez que comparaste tu vida a la de otro vía redes
                            sociales? ¿Cómo te fue?
                        </h5>
                    </li>
                    <li>
                        <h5 class="text-600">
                            Lee 2° Corintios 10:12. ¿Contra a qué o a quien te comparas a vos mismo o tu familia? ¿En
                            qué te ayuda eso?
                        </h5>
                    </li>
                    <li>
                        <h5 class="text-600">
                            Si es que Jesús define tu valor, ¿entonces quién sos y qué tanto vales?<br/>
                            Si adoptarás totalmente esta forma de ser, ¿qué cambiaría?
                        </h5>
                    </li>
                </ul>


                <hr>

                {#            Pie de las notas      #}

                {#                <div class="col-sm-10 mx-auto my-2"> #}
                {#                    <div class="col-sm-8 mx-auto text-center"> #}
                {#                        Descubre nuestros nuevos mensajes de esperanza, en tu celular, haciendo la Alameda, tu iglesia #}
                {#                        en tu #}
                {#                        iglesia en <a class="btn btn-link" #}
                {#                                      href="https://www.bible.com/organizations/f2e1342b-9c20-4ff5-b38e-c70102f8640e?utm_source=yvapp&utm_medium=share&utm_content=partner-profile" #}
                {#                                      target="_blank"> Youversion</a>. #}
                {#                        <br/> #}
                {#                        La aplicación más descargada en todo el mundo.<br/> #}
                {#                        Sigue el <a class="btn btn-link" #}
                {#                                    href="https://www.bible.com/organizations/f2e1342b-9c20-4ff5-b38e-c70102f8640e?utm_source=yvapp&utm_medium=share&utm_content=partner-profile" #}
                {#                                    target="_blank"> enlace</a> y descubre cómo. #}
                {#                    </div> #}

                {#                    #}{#                <div class="col-12 mx-auto text-left"> #}
                {#                    #}{#                    <h5>Aprovecha estás ayudas gratuitas:</h5> #}
                {#                    #}{#                    <h6 class="ml-2"><b>Asesoramiento Financiero</b>: Envia la palabra <a #}
                {#                    #}{#                                href="https://api.whatsapp.com/send?phone=+5492615178081&amp;text=Asesoramiento"> #}
                {#                    #}{#                            “Asesoramiento” al 261 517 8081</a></h6> #}
                {#                    #}{#                    <h6 class="ml-2"><b>Celebremos la Recuperación</b>: Todos los viernes 20:45 hs Grupo de Orientación #}
                {#                    #}{#                    </h6> #}
                {#                    #}{#                    <h6 class="ml-2"><b>Puentes</b> (Mediación Comunitaria): Llamá al #}
                {#                    #}{#                        <a href="tel:+542614251182">4251182</a> , Martes y Jueves de 17 a 19hs</h6> #}
                {#                    #}{#                </div> #}
                {#                </div> #}
            </div>
        </div>
    </div>
    {{ encore_entry_script_tags('nota_mensaje') }}
