<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row mt-0">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto mt-0">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <div class="col-sm-10 mx-auto mb-3">
                <div class="col-12 mx-auto text-center mb-0">

                    {#                    <h4 class="text-centrado text-600"> #}
                    {#                        CÓMO LA FE EN JESÚS<br/> #}
                    {#                        CONVIERTE LO POCO EN MUCHO #}
                    {#                    </h4> #}
                    {#                                <img src="{{ asset('images/seis_decisiones.png') }}" #}
                    {#                                     class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
                    {#                    <h6 class="text-14-300 font-italic pl-4 text-centrado"> #}
                    {#                        Marcos 6:34-44 – El Milagro de Alimentar a los 5.000 #}
                    {#                    </h6> #}
                    {#                    <br/> #}
                    {#                    <h5 class="text-centrado text-600"> #}
                    {#                        COMO SALIR DEL POZO DEL ABANDONO<br/> #}
                    {#                        <small>Marcos 1.40-45, Mateo 8.2-4; Lucas 5.12-16</small> #}
                    {#                    </h5> #}

                    <p class="text-14-300 font-italic pl-4 text-izq">
                        “Cierto día, un experto en la ley religiosa se levantó para probar a Jesús con la siguiente
                        pregunta: —Maestro, ¿qué debo hacer para heredar la vida eterna? Jesús contestó: —¿Qué dice la
                        ley de Moisés? ¿Cómo la interpretas? El hombre contestó: —“Ama al Señor tu Dios con todo tu
                        corazón, con toda tu alma, con toda tu fuerza y con toda tu mente” y “Ama a tu prójimo como a ti
                        mismo”. —¡Correcto!—le dijo Jesús—. ¡Haz eso y vivirás! El hombre quería justificar sus
                        acciones, entonces le preguntó a Jesús: —¿Y quién es mi prójimo?”
                        <br/>
                        <small class="float-end">
                            Lucas 10:25-29 NTV
                        </small>
                    </p><br/>

                </div>

                {#            <h6 class="text-centrado"> #}
                {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
                {#            </h6> #}
                {#            <h5 class="text-centrado text-600"> #}
                {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
                {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
                {#            </h5> #}
                <h4 class="text-centrado text-600">
                    ¿QUÉ TÉ VUÉLVÉ APÁTICO?
                </h4>
                <h5 class="text-izq text-600">
                    1. {{ completa_lugar('uno') | raw }} que apagan tu corazón.que apagan tu corazón.
                </h5>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    Jesús respondió con una historia: — Un hombre judío bajaba de Jerusalén a Jericó y fue atacado por
                    ladrones. Le quitaron la ropa, le pegaron y lo dejaron medio muerto al costado del camino. Un
                    sacerdote pasó por allí de casualidad, pero cuando vio al hombre en el suelo, cruzó al otro lado del
                    camino y siguió de largo.
                    <br/>
                    <small class="float-end">
                        Lucas 10:30-31 NTV
                    </small>
                </p><br/>

                <h5 class="text-izq text-600">
                    2. Temor a perder tu {{ completa_lugar('dos') | raw }}.
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    Un ayudante del templo pasó y lo vio allí tirado, pero también siguió de largo por el otro lado.
                    <br/>
                    <small class="float-end">
                        Lucas 10:32 NTV
                    </small>
                </p><br/>

                <h5 class="text-izq text-600">
                    3. {{ completa_lugar('tres') | raw }} espiritual.
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    Cierto día, un experto en la ley religiosa se levantó para probar a Jesús con la siguiente pregunta:
                    —Maestro, ¿qué debo hacer para heredar la vida eterna?
                    <br/>
                    <small class="float-end">
                        Lucas 10:25 NTV
                    </small>
                </p><br/>

                <h5 class="text-izq text-600">
                    4. Tus própias {{ completa_lugar('cuatro') | raw }}.
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    El hombre quería justificar sus acciones, entonces le preguntó a Jesús: —¿Y quién es mi prójimo?
                    <br/>
                    <small class="float-end">
                        Lucas 10:29 NTV
                    </small>
                </p><br/>
                <h4 class="text-centrado text-600">
                    COMO RÉCUPÉRAR TU PASIÓN
                </h4>
                <h5 class="text-izq text-600">
                    Regresa a la {{ completa_lugar('cinco') | raw }}.
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    El hombre contestó: —“Ama al Señor tu Dios con todo tu corazón, con toda tu alma, con toda tu fuerza
                    y con toda tu mente” y “Ama a tu prójimo como a ti mismo”. —¡Correcto! —le dijo Jesús—. ¡Haz eso y
                    vivirás!
                    <br/>
                    <small class="float-end">
                        Lucas 10:27-28 NTV
                    </small>
                </p><br/>

                <h5 class="text-izq text-600">
                    Abrí tus ójós a la {{ completa_lugar('seis') | raw }}.
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    Entonces pasó un samaritano despreciado y, cuando vio al hombre, sintió compasión por él.
                    <br/>
                    <small class="float-end">
                        Lucas 10:33 NTV
                    </small>
                </p><br/>

                <h5 class="text-izq text-600">
                    Usa ló que Diós {{ completa_lugar('siete') | raw }}.
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    Se le acercó y le alivió las heridas con vino y aceite de oliva, y se las vendó. Luego subió al
                    hombre en su propio burro y lo llevó hasta un alojamiento, donde cuidó de él.
                    <br/>
                    <small class="float-end">
                        Lucas 10:34 NTV
                    </small>
                </p><br/>

                <h5 class="text-izq text-600">
                    Sé {{ completa_lugar('ocho') | raw }}.
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    Al día siguiente, le dio dos monedas de plata al encargado de la posada y le dijo: “Cuida de este
                    hombre. Si los gastos superan esta cantidad, te pagaré la diferencia la próxima vez que pase por
                    aquí”.
                    <br/>
                    <small class="float-end">
                        Lucas 10:35 NTV
                    </small>
                </p><br/>

                <h4 class="text-centrado text-600">
                    Él actó de {{ completa_lugar('nueve') | raw }}
                </h4>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    Ahora bien, ¿cuál de los tres te parece que fue el prójimo del hombre atacado por los bandidos?
                    —preguntó Jesús. El hombre contestó: — El que mostró compasión. Entonces Jesús le dijo: —Así es,
                    ahora ve y haz lo mismo.
                    <br/>
                    <small class="float-end">
                        Lucas 10:36-37 NTV
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Pues Dios amó tanto al mundo que dio a su único Hijo, para que todo el que crea en él no se pierda,
                    sino que tenga vida eterna”.
                    <br/>
                    <small class="float-end">
                        Juan 3:16 NTV
                    </small>
                </p><br/>

                {#                #}
                {#                <ul> #}
                {#                    <li> #}
                {#                        <h5 class="text-600"> #}
                {#                            Se honesto. ¿Cuándo fue la última vez que comparaste tu vida a la de otro vía redes #}
                {#                            sociales? ¿Cómo te fue? #}
                {#                        </h5> #}
                {#                    </li> #}
                {#                    <li> #}
                {#                        <h5 class="text-600"> #}
                {#                            Lee 2° Corintios 10:12. ¿Contra a qué o a quien te comparas a vos mismo o tu familia? ¿En #}
                {#                            qué te ayuda eso? #}
                {#                        </h5> #}
                {#                    </li> #}
                {#                    <li> #}
                {#                        <h5 class="text-600"> #}
                {#                            Si es que Jesús define tu valor, ¿entonces quién sos y qué tanto vales?<br/> #}
                {#                            Si adoptarás totalmente esta forma de ser, ¿qué cambiaría? #}
                {#                        </h5> #}
                {#                    </li> #}
                {#                </ul> #}


                <hr>

                {#            Pie de las notas      #}

                {#                <div class="col-sm-10 mx-auto my-2"> #}
                {#                    <div class="col-sm-8 mx-auto text-center"> #}
                {#                        Descubre nuestros nuevos mensajes de esperanza, en tu celular, haciendo la Alameda, tu iglesia #}
                {#                        en tu #}
                {#                        iglesia en <a class="btn btn-link" #}
                {#                                      href="https://www.bible.com/organizations/f2e1342b-9c20-4ff5-b38e-c70102f8640e?utm_source=yvapp&utm_medium=share&utm_content=partner-profile" #}
                {#                                      target="_blank"> Youversion</a>. #}
                {#                        <br/> #}
                {#                        La aplicación más descargada en todo el mundo.<br/> #}
                {#                        Sigue el <a class="btn btn-link" #}
                {#                                    href="https://www.bible.com/organizations/f2e1342b-9c20-4ff5-b38e-c70102f8640e?utm_source=yvapp&utm_medium=share&utm_content=partner-profile" #}
                {#                                    target="_blank"> enlace</a> y descubre cómo. #}
                {#                    </div> #}

                {#                    #}{#                <div class="col-12 mx-auto text-left"> #}
                {#                    #}{#                    <h5>Aprovecha estás ayudas gratuitas:</h5> #}
                {#                    #}{#                    <h6 class="ml-2"><b>Asesoramiento Financiero</b>: Envia la palabra <a #}
                {#                    #}{#                                href="https://api.whatsapp.com/send?phone=+5492615178081&amp;text=Asesoramiento"> #}
                {#                    #}{#                            “Asesoramiento” al 261 517 8081</a></h6> #}
                {#                    #}{#                    <h6 class="ml-2"><b>Celebremos la Recuperación</b>: Todos los viernes 20:45 hs Grupo de Orientación #}
                {#                    #}{#                    </h6> #}
                {#                    #}{#                    <h6 class="ml-2"><b>Puentes</b> (Mediación Comunitaria): Llamá al #}
                {#                    #}{#                        <a href="tel:+542614251182">4251182</a> , Martes y Jueves de 17 a 19hs</h6> #}
                {#                    #}{#                </div> #}
                {#                </div> #}
            </div>
        </div>
    </div>
    {{ encore_entry_script_tags('nota_mensaje') }}
