<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <div class="col-sm-10 mx-auto mb-3">
                <div class="col-12 mx-auto text-center mb-0">

                    {#                    <h4 class="text-centrado text-600"> #}
                    {#                        CÓMO LA FE EN JESÚS<br/> #}
                    {#                        CONVIERTE LO POCO EN MUCHO #}
                    {#                    </h4> #}
                    {#                                <img src="{{ asset('images/seis_decisiones.png') }}" #}
                    {#                                     class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
                    {#                    <h6 class="text-14-300 font-italic pl-4 text-centrado"> #}
                    {#                        Marcos 6:34-44 – El Milagro de Alimentar a los 5.000 #}
                    {#                    </h6> #}
                    {#                    <br/> #}
                    {#                    <h5 class="text-centrado text-600"> #}
                    {#                        COMO SALIR DEL POZO DEL ABANDONO<br/> #}
                    {#                        <small>Marcos 1.40-45, Mateo 8.2-4; Lucas 5.12-16</small> #}
                    {#                    </h5> #}

                    <p class="text-14-300 font-italic pl-4 text-izq">
                        “Cierto día de descanso, mientras Jesús enseñaba en la sinagoga,<br/>
                        <sup>11</sup> vio a una mujer que estaba lisiada a causa de un espíritu maligno. Había estado
                        encorvada durante dieciocho años y no podía ponerse derecha.<br/>
                        <sup>12</sup> Cuando Jesús la vio, la llamó y le dijo: «Apreciada mujer, ¡estás sanada de tu
                        enfermedad!».<br/>
                        <sup>13</sup> Luego la tocó y, al instante, ella pudo enderezarse. ¡Cómo alabó ella al Señor!
                        <small class="float-end" style="font-size: 0.8em">
                            Lucas 13:10-13 (NTV)
                        </small>
                    </p>


                </div>

                {#            <h6 class="text-centrado"> #}
                {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
                {#            </h6> #}
                {#            <h5 class="text-centrado text-600"> #}
                {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
                {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
                {#            </h5> #}

                <h4 class="text-centrado text-600">
                    COMO ENCONTRAR LIBERTAD DEFINITIVA
                </h4>
                <h5 class="text-centrado text-600">
                    1. ABRITE AL {{ completa_lugar('uno') | raw }} DE DIOS
                </h5>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Cuando Jesús <u>la vio</u>…».”
                    <br/>
                    <small class="float-end">
                        Lucas 13:12 (NTV)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Había estado <u>encorvada</u> durante dieciocho años y no podía ponerse derecha.”
                    <br/>
                    <small class="float-end">
                        Lucas 13:11 (NTV)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Estaba lisiada a causa de <u>un espíritu maligno</u>.”
                    <br/>
                    <small class="float-end">
                        Lucas 13:11 (NTV)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “… Satanás [la] tenía atada durante dieciocho largos años”
                    <br/>
                    <small class="float-end">
                        Lucas 13:16 (NVI)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Esta <u>apreciada mujer</u>, una hija de Abraham”
                    <br/>
                    <small class="float-end">
                        Lucas 13:16 (NTV)
                    </small>
                </p><br/>

                <h5 class="text-centrado text-600">
                    2. CAMBIA TU RUMBO Y SEGUÍ {{ completa_lugar('dos') | raw }}:
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Cuando Jesús la vio, <u>la llamó</u> …
                    <br/>
                    <small class="float-end">
                        Lucas 13:12 (NTV)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Jesús entonces <u>llamó</u> a la multitud y a sus discípulos para que se acercaran a él, y les
                    dijo: “Si alguno quiere seguirme, debe renunciar a sí mismo, cargar su cruz y entonces seguirme.”
                    <br/>
                    <small class="float-end">
                        Marcos 8:34 (VBL)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Si alguno quiere salvar su vida, la perderá, pero si alguno pierde su vida por mi causa y por causa
                    de la Buena Noticia, la salvará. “¿De qué le servirá a alguien ganar todo en el mundo, y perder su
                    vida?”
                    <br/>
                    <small class="float-end">
                        Marcos 8:35-36 (VBL)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “¿Acaso no <u>desata</u> cada uno de ustedes su buey o su burro en sábado, y lo saca del establo
                    para llevarlo a tomar agua? Sin embargo, a esta mujer, que es hija de Abraham, y a quien <u>Satanás
                        tenía atada</u> durante dieciocho largos años, ¿no se le debía quitar esta cadena…? “
                    <br/>
                    <small class="float-end">
                        Lucas 13:15-16 (NVI)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Dijo Jesús: «<u>Vengan a mí</u> todos los que están cansados y llevan cargas pesadas, y yo les daré
                    <u>descanso</u>.<br/>
                    <sup>29</sup> <u>Pónganse mi yugo</u>. Déjenme enseñarles, porque yo soy humilde y tierno de
                    corazón, y encontrarán descanso para el alma.<br/>
                    <sup>30</sup> Pues <u>mi yugo es fácil</u> de llevar y la carga que les doy es liviana». “
                    <br/>
                    <small class="float-end">
                        Mateo 11:28-30 (NTV)
                    </small>
                </p><br/>

                <h5 class="text-centrado text-600">
                    3. CONFÍA EN {{ completa_lugar('tres') | raw }}.
                </h5>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Le dijo: “Apreciada mujer, ¡<u>estás sanada</u> de tu enfermedad!”
                    <br/>
                    <small class="float-end">
                        Lucas 13:12 (NTV)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    Jesús: “–<u>Todo está cumplido</u>. Luego inclinó la cabeza y entregó el espíritu.”
                    <br/>
                    <small class="float-end">
                        Juan 19:30 (DHH)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Pero él fue herido por nuestras rebeliones, fue golpeado por nuestras maldades; él sufrió en
                    nuestro lugar, y gracias a sus heridas recibimos la paz y <u>fuimos sanados</u>.“
                    <br/>
                    <small class="float-end">
                        Isaías 53:5 (TLA)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “«Si ustedes <u>permanecen en mi palabra</u>, serán verdaderamente mis discípulos; y conocerán la
                    verdad, y la verdad los hará <u>libres</u>.»”
                    <br/>
                    <small class="float-end">
                        Juan 8:31-32 (RVC)
                    </small>
                </p><br/>

                <h5 class="text-centrado text-600">
                    4. EXPERIMENTA EL {{ completa_lugar('cuatro') | raw }}.
                </h5>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Luego <u>la tocó</u> y, al instante, ella pudo enderezarse”
                    <br/>
                    <small class="float-end">
                        Lucas 13:13 (NTV)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “El Espíritu del Señor está sobre mí, porque … Me ha enviado para proclamar que <u>los prisioneros
                        serán puestos en libertad</u>, los ciegos verán, los oprimidos serán liberados, y para proclamar
                    el tiempo del favor del Señor“
                    <br/>
                    <small class="float-end">
                        Lucas 4:18-19 (VBL)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Cuando, <u>impotentes</u>, no teníamos medio de escape, Cristo llegó en el momento oportuno y murió
                    por nosotros, <u>a pesar de</u> nuestra impiedad. Ni aún siendo buenos podría esperarse que alguien
                    muriera por nosotros, aunque pudiera suceder. Más Dios nos demostró <u>la inmensidad de su amor</u>
                    enviando a Cristo a morir por nosotros, aun cuando éramos pecadores. “
                    <br/>
                    <small class="float-end">
                        Romanos 5:6-8 (BAD)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “¡Cómo alabó ella al Señor!”
                    <br/>
                    <small class="float-end">
                        Lucas 13:13 (NTV)
                    </small>
                </p><br/>

                <div class="col-12 mx-auto text-left">
                    <p class="text-14-300 font-italic pl-4 text-izq">
                        “Señor, sáname y quedaré sanado; sálvame y seré salvo,<br/>
                        porque tú eres a quien yo quiero alabar. “
                        <br/>
                        <small class="float-end">
                            Jeremías 17:14 (PDT)
                        </small>
                    </p>
                    <br/>
                </div>

                <hr>

                {#            Pie de las notas      #}

                <div class="col-sm-10 mx-auto my-2">
                    <div class="col-sm-8 mx-auto text-center">
                        Descubre nuestros nuevos mensajes de esperanza, en tu celular, haciendo la Alameda, tu iglesia
                        en tu
                        iglesia en <a class="btn btn-link"
                                      href="https://www.bible.com/organizations/f2e1342b-9c20-4ff5-b38e-c70102f8640e?utm_source=yvapp&utm_medium=share&utm_content=partner-profile"
                                      target="_blank"> Youversion</a>.
                        <br/>
                        La aplicación más descargada en todo el mundo.<br/>
                        Sigue el <a class="btn btn-link"
                                    href="https://www.bible.com/organizations/f2e1342b-9c20-4ff5-b38e-c70102f8640e?utm_source=yvapp&utm_medium=share&utm_content=partner-profile"
                                    target="_blank"> enlace</a> y descubre cómo.
                    </div>

                    {#                <div class="col-12 mx-auto text-left"> #}
                    {#                    <h5>Aprovecha estás ayudas gratuitas:</h5> #}
                    {#                    <h6 class="ml-2"><b>Asesoramiento Financiero</b>: Envia la palabra <a #}
                    {#                                href="https://api.whatsapp.com/send?phone=+5492615178081&amp;text=Asesoramiento"> #}
                    {#                            “Asesoramiento” al 261 517 8081</a></h6> #}
                    {#                    <h6 class="ml-2"><b>Celebremos la Recuperación</b>: Todos los viernes 20:45 hs Grupo de Orientación #}
                    {#                    </h6> #}
                    {#                    <h6 class="ml-2"><b>Puentes</b> (Mediación Comunitaria): Llamá al #}
                    {#                        <a href="tel:+542614251182">4251182</a> , Martes y Jueves de 17 a 19hs</h6> #}
                    {#                </div> #}
                </div>
            </div>
        </div>
    </div>
    {{ encore_entry_script_tags('nota_mensaje') }}
