<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row mt-0">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto mt-0">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <div class="col-sm-10 mx-auto mb-3">
                <div class="col-12 mx-auto text-center mb-0">

                    {#                    <h4 class="text-centrado text-600"> #}
                    {#                        CÓMO LA FE EN JESÚS<br/> #}
                    {#                        CONVIERTE LO POCO EN MUCHO #}
                    {#                    </h4> #}
                    {#                                <img src="{{ asset('images/seis_decisiones.png') }}" #}
                    {#                                     class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
                    {#                    <h6 class="text-14-300 font-italic pl-4 text-centrado"> #}
                    {#                        Marcos 6:34-44 – El Milagro de Alimentar a los 5.000 #}
                    {#                    </h6> #}
                    {#                    <br/> #}
                    {#                    <h5 class="text-centrado text-600"> #}
                    {#                        COMO SALIR DEL POZO DEL ABANDONO<br/> #}
                    {#                        <small>Marcos 1.40-45, Mateo 8.2-4; Lucas 5.12-16</small> #}
                    {#                    </h5> #}

                    <p class="text-14-300 font-italic pl-4 text-izq">
                        Todo el que pertenece a Cristo se ha convertido en una persona nueva. La vida antigua ha pasado,
                        ¡una nueva vida ha comenzado!”
                        <br/>
                        <small class="float-end">
                            2 Corintios 5:17 (NTV)
                        </small>
                    </p><br/>

                </div>

                {#            <h6 class="text-centrado"> #}
                {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
                {#            </h6> #}
                {#            <h5 class="text-centrado text-600"> #}
                {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
                {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
                {#            </h5> #}
                <h4 class="text-centrado text-600">
                    COMO OBTENER UNA IDENTIDAD BRILLANTE
                </h4>
                <h5 class="text-izq text-600">
                    1. DESCUBRILA {{ completa_lugar('uno') | raw }}
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Incluso antes de haber hecho el mundo, Dios nos amó y nos eligió en Cristo...”
                    <br/>
                    <small class="float-end">
                        Efesios 1:4 (NTV)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    A los que lo aceptaron y creyeron en él, les dio el derecho de ser <u>hijos</u> de Dios.”
                    <br/>
                    <small class="float-end">
                        Juan 1:12 (PDT)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Antes de la creación del mundo, Dios decidió <u>adoptarnos</u> como hijos suyos a través de
                    Jesucristo. Eso era lo que él tenía planeado y le dio gusto hacerlo.”
                    <br/>
                    <small class="float-end">
                        Efesios 1:5 (PDT)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    Ustedes que han sido llamados por Dios para ser su pueblo santo. Él los hizo <u>santos</u> por medio
                    de Cristo Jesús.”
                    <br/>
                    <small class="float-end">
                        1° Corintios 1:2 (NTV)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Somos la <u>obra maestra</u> de Dios. Él nos creó de nuevo en Cristo Jesús, a fin de que hagamos
                    las cosas buenas que preparó para nosotros tiempo atrás.”
                    <br/>
                    <small class="float-end">
                        Efesios 2:10 (NTV)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Todo lo puedo hacer por medio de Cristo, quien me da las fuerzas.”
                    <br/>
                    <small class="float-end">
                        Filipenses 4:13 (NTV)
                    </small>
                </p><br/>

                <h5 class="text-izq text-600">
                    2. ABRAZALA {{ completa_lugar('dos') | raw }}
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “<u>Diga</u> el débil: “Fuerte soy.”
                    <br/>
                    <small class="float-end">
                        Joel 3:10 (NBLH)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Lo que estás <u>diciendo</u> va a suceder, Dios lo hará por ti”
                    <br/>
                    <small class="float-end">
                        Marcos 11:23 (PDT)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “El Señor Es bueno; su fiel amor dura para siempre. <u>Díganlo</u> los que el Señor ha salvado; que
                    lo repitan los que el Señor rescató de sus enemigos,”
                    <br/>
                    <small class="float-end">
                        Salmos 107:1-2 (PDT)
                    </small>
                </p><br/>

                <h5 class="text-izq text-600">
                    3. EXPERIMENTALA {{ completa_lugar('tres') | raw }}
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Pues todos los que son guiados por el Espíritu de Dios son <u>hijos</u> de Dios.<br/>
                    <sup>15</sup> Y ustedes … recibieron el Espíritu de Dios cuando él los adoptó como sus propios
                    hijos. Ahora lo llamamos «Abba, Padre».<<br>
                    <sup>16</sup> Pues su Espíritu se une a nuestro espíritu para confirmar que somos hijos de Dios.”
                    <br/>
                    <small class="float-end">
                        Romanos 8:14-16 (NTV)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “El Espíritu nos ayuda en nuestra debilidad. Porque no sabemos <u>orar</u> como es debido, pero el
                    Espíritu mismo ruega a Dios por nosotros, con gemidos que no pueden expresarse con palabras.”
                    <br/>
                    <small class="float-end">
                        Romanos 8:26 (DHH)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “El Señor, quien es el Espíritu, nos hace más y más parecidos a él a medida que somos <u>transformados</u>
                    a su gloriosa imagen.”
                    <br/>
                    <small class="float-end">
                        2° Corintios 3:18 (NTV)
                    </small>
                </p><br/>


                <h5 class="text-izq text-600">
                    4. ENCONTRALA {{ completa_lugar('cuatro') | raw }}
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Mi antiguo <u>yo</u> ha sido <u>crucificado</u> con Cristo. Ya no vivo yo, sino que <u>Cristo vive
                        en mí</u>. Así que vivo en este cuerpo terrenal confiando en el Hijo de Dios, quien me amó y se
                    entregó a sí mismo por mí.”
                    <br/>
                    <small class="float-end">
                        Gálatas 2:20 (NTV)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “A través del <u>bautismo</u> fuimos sepultados con él en la muerte, para que así como Cristo fue
                    levantado de los muertos por medio de la gloria del Padre, nosotros también podamos vivir <u>una
                        vida nueva</u>.”
                    <br/>
                    <small class="float-end">
                        Romanos 6:4 (VBL)
                    </small>
                </p><br/>

                <hr>

                {#            Pie de las notas      #}

                {#                <div class="col-sm-10 mx-auto my-2"> #}
                {#                    <div class="col-sm-8 mx-auto text-center"> #}
                {#                        Descubre nuestros nuevos mensajes de esperanza, en tu celular, haciendo la Alameda, tu iglesia #}
                {#                        en tu #}
                {#                        iglesia en <a class="btn btn-link" #}
                {#                                      href="https://www.bible.com/organizations/f2e1342b-9c20-4ff5-b38e-c70102f8640e?utm_source=yvapp&utm_medium=share&utm_content=partner-profile" #}
                {#                                      target="_blank"> Youversion</a>. #}
                {#                        <br/> #}
                {#                        La aplicación más descargada en todo el mundo.<br/> #}
                {#                        Sigue el <a class="btn btn-link" #}
                {#                                    href="https://www.bible.com/organizations/f2e1342b-9c20-4ff5-b38e-c70102f8640e?utm_source=yvapp&utm_medium=share&utm_content=partner-profile" #}
                {#                                    target="_blank"> enlace</a> y descubre cómo. #}
                {#                    </div> #}

                {#                    #}{#                <div class="col-12 mx-auto text-left"> #}
                {#                    #}{#                    <h5>Aprovecha estás ayudas gratuitas:</h5> #}
                {#                    #}{#                    <h6 class="ml-2"><b>Asesoramiento Financiero</b>: Envia la palabra <a #}
                {#                    #}{#                                href="https://api.whatsapp.com/send?phone=+5492615178081&amp;text=Asesoramiento"> #}
                {#                    #}{#                            “Asesoramiento” al 261 517 8081</a></h6> #}
                {#                    #}{#                    <h6 class="ml-2"><b>Celebremos la Recuperación</b>: Todos los viernes 20:45 hs Grupo de Orientación #}
                {#                    #}{#                    </h6> #}
                {#                    #}{#                    <h6 class="ml-2"><b>Puentes</b> (Mediación Comunitaria): Llamá al #}
                {#                    #}{#                        <a href="tel:+542614251182">4251182</a> , Martes y Jueves de 17 a 19hs</h6> #}
                {#                    #}{#                </div> #}
                {#                </div> #}
            </div>
        </div>
    </div>
    {{ encore_entry_script_tags('nota_mensaje') }}
