<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row mt-0">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto mt-0">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <div class="col-sm-10 mx-auto mb-3">
                <div class="col-12 mx-auto text-center mb-0">

                    {#                    <h4 class="text-centrado text-600"> #}
                    {#                        CÓMO LA FE EN JESÚS<br/> #}
                    {#                        CONVIERTE LO POCO EN MUCHO #}
                    {#                    </h4> #}
                    {#                                <img src="{{ asset('images/seis_decisiones.png') }}" #}
                    {#                                     class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
                    {#                    <h6 class="text-14-300 font-italic pl-4 text-centrado"> #}
                    {#                        Marcos 6:34-44 – El Milagro de Alimentar a los 5.000 #}
                    {#                    </h6> #}
                    {#                    <br/> #}
                    {#                    <h5 class="text-centrado text-600"> #}
                    {#                        COMO SALIR DEL POZO DEL ABANDONO<br/> #}
                    {#                        <small>Marcos 1.40-45, Mateo 8.2-4; Lucas 5.12-16</small> #}
                    {#                    </h5> #}

                    <p class="text-14-300 font-italic pl-4 text-izq">
                        “¿Qué motivo tengo para ser bueno?<br/>
                        ¿Por qué debo tener un corazón puro?”
                        <br/>
                        <small class="float-end">
                            Salmos 73:13 (PDT)
                        </small>
                    </p><br/>

                </div>

                {#            <h6 class="text-centrado"> #}
                {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
                {#            </h6> #}
                {#            <h5 class="text-centrado text-600"> #}
                {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
                {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
                {#            </h5> #}
                <h6 class="text-centrado text-600">
                    Alcanzar tus metas en este año depende de la {{ completa_lugar('uno') | raw }} de
                    tu {{ completa_lugar('dos') | raw }}
                </h6>
                <h5 class="text-izq text-600">
                    El cuadrante de las motivaciones:
                </h5>
                <div class="col-sm-12">
                    <div class="col-sm-12 col-md-6">
                        <h6> Motivación Interna - Motivación Natural</h6>
                        <ul>
                            <li>
                                Identidad y Autoexpresión
                            </li>
                            <li>
                                Reconocimiento
                            </li>
                            <li>
                                Placer
                            </li>
                        </ul>
                        <h6>
                            (S){{ completa_lugar('tres') | raw }}
                        </h6>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <h6> Motivación Interna - Motivación Espiritual</h6>
                        <ul>
                            <li>
                                Pasión por la verdad
                            <li>
                                Compasión por otros
                            </li>
                            <li>
                                Devoción a Dios
                            </li>
                        </ul>
                        <h6>
                            (A){{ completa_lugar('cuatro') | raw }}
                        </h6>
                    </div>

                    <div class="col-sm-12 col-md-6">
                        <h6> Motivación Externa - Motivación Natural</h6>
                        <ul>
                            <li>
                                Paga
                            </li>
                            <li>
                                Presión
                            </li>
                            <li>
                                Tortura
                            </li>
                        </ul>
                        <h6>
                            (M){{ completa_lugar('cinco') | raw }}
                        </h6>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <h6> Motivación Externa - Motivación Espiritual</h6>
                        <ul>
                            <li>
                                Culpa
                            <li>
                                Vergüenza
                            </li>
                            <li>
                                Temor
                            </li>
                        </ul>
                        <h6>
                            (R){{ completa_lugar('seis') | raw }}
                        </h6>
                    </div>

                </div>

                <h5 class="text-izq text-600">
                    Los problemas de las motivaciones ineficaces:
                </h5>
                <h6 class="text-izq text-600 pl-2">
                    El problema de la superación: {{ completa_lugar('siete') | raw }}
                </h6>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “El mundo sólo ofrece un intenso <u>deseo por el placer</u> físico, un <u>deseo insaciable por todo
                        lo que vemos</u> y el <u>orgullo de nuestros logros</u> y posesiones. Nada de eso proviene del
                    Padre”
                    <br/>
                    <small class="float-end">
                        1° Juan 2:16 (NTV)
                    </small>
                </p><br/>
                <h6 class="text-izq text-600 pl-2">
                    El problema de la manipulación: {{ completa_lugar('ocho') | raw }}
                </h6>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Mi intención ganarme el favor de la gente, sino el de Dios. Si mi objetivo fuera agradar a la
                    gente, <u>no sería un siervo de Cristo</u>.”
                    <br/>
                    <small class="float-end">
                        Gálatas 1:10 (NTV)
                    </small>
                </p><br/>
                <h6 class="text-izq text-600 pl-2">
                    El problema de la religión: {{ completa_lugar('nueve') | raw }}
                </h6>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Todos los que dependen del cumplimiento de la ley están <u>bajo maldición</u>, porque... Está claro
                    que <u>nadie</u> es justificado delante de Dios por el intento de guardar la ley, porque “los justos
                    vivirán <u>por su fe</u> en Dios”
                    <br/>
                    <small class="float-end">
                        Gálatas 3:10-11 (VBL)
                    </small>
                </p><br/>


                <h4 class="text-centrado text-600">
                    EL CAMINO DE LA ADORACIÓN
                </h4>
                <h5 class="text-izq text-600">
                    1. El camino del adorador es una {{ completa_lugar('diez') | raw }}.
                </h5>
                <h6 class="text-izq text-600 pl-2">
                    Entrega a Jesús toda trampa de {{ completa_lugar('once') | raw }}.
                </h6>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Nuestro propósito es <u>agradar a Dios, no a las personas</u>. Solamente él examina las intenciones
                    de nuestro corazón.”
                    <br/>
                    <small class="float-end">
                        1° Tesalonicenses 2:4 (NTV)
                    </small>
                </p><br/>
                <h6 class="text-izq text-600 pl-2">
                    Entrega a Jesús lo que {{ completa_lugar('doce') | raw }} tiene para ofrecer.
                </h6>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “El mundo sólo ofrece un intenso <u>deseo por el placer</u> físico, un <u>deseo insaciable por todo
                        lo que vemos</u> y el <u>orgullo de nuestros logros</u> y posesiones. Nada de eso proviene del
                    Padre”
                    <br/>
                    <small class="float-end">
                        1° Juan 2:16 (NTV)
                    </small>
                </p><br/>

                <h6 class="text-izq text-600 pl-2">
                    Entrega a Jesús tus {{ completa_lugar('trece') | raw }} por mejorar.
                </h6>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Así que tú, hijo mío, <u>fortalécete por la gracia</u> que tenemos en Cristo Jesús.”
                    <br/>
                    <small class="float-end">
                        2° Timoteo 2:1 (NVI)
                    </small>
                </p><br/>


                <h5 class="text-izq text-600">
                    El camino del adorador viene un pacto {{ completa_lugar('catorce') | raw }}.
                </h5>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “El apetito del que trabaja lo impulsa a trabajar; <u>el hambre</u> que siente lo empuja a ello.”
                    <br/>
                    <small class="float-end">
                        Proverbios 16:26 (DHH)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Se acerca el día —dice el SEÑOR—, en que haré un nuevo pacto con el pueblo … este es el nuevo pacto
                    que haré con el pueblo de Israel en ese día —dice el SEÑOR. Pondré mis instrucciones <u>en lo más
                        profundo</u> de ellos y <u>las escribiré en su corazón</u>.”
                    <br/>
                    <small class="float-end">
                        Jeremías 31:31-33 (NTV)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Ustedes son una carta escrita por Cristo mismo… que no ha sido escrita con tinta, sino con el
                    Espíritu del Dios viviente; una carta que no ha sido grabada en tablas de piedra, sino <u>en
                        corazones humanos</u>.”
                    <br/>
                    <small class="float-end">
                        2° Corintios 3:3 (DHH)
                    </small>
                </p><br/>


                <h5 class="text-izq text-600">
                    3. El camino del adorador es desear {{ completa_lugar('quince') | raw }}.
                </h5>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “<u>Una sola cosa</u> le pido al Señor, y es <u>lo único que persigo</u>: habitar en la casa del
                    Señor todos los días de mi vida, para contemplar la hermosura del Señor y recrearme en su templo.”
                    <br/>
                    <small class="float-end">
                        Salmos 27:4 (NVI)
                    </small>
                </p><br/>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Hermanos, no pienso que yo mismo lo haya logrado ya. Más bien, <u>una cosa hago</u>: olvidando lo
                    que queda atrás y esforzándome por alcanzar lo que está delante, sigo avanzando hacia la meta para
                    <u>ganar el premio que Dios ofrece</u> mediante su <u>llamamiento celestial en Cristo Jesús</u>.”
                    <br/>
                    <small class="float-end">
                        Filipenses 3:13-14 (NVI)
                    </small>
                </p><br/>


                {#                #}
                {#                <ul> #}
                {#                    <li> #}
                {#                        <h5 class="text-600"> #}
                {#                            Se honesto. ¿Cuándo fue la última vez que comparaste tu vida a la de otro vía redes #}
                {#                            sociales? ¿Cómo te fue? #}
                {#                        </h5> #}
                {#                    </li> #}
                {#                    <li> #}
                {#                        <h5 class="text-600"> #}
                {#                            Lee 2° Corintios 10:12. ¿Contra a qué o a quien te comparas a vos mismo o tu familia? ¿En #}
                {#                            qué te ayuda eso? #}
                {#                        </h5> #}
                {#                    </li> #}
                {#                    <li> #}
                {#                        <h5 class="text-600"> #}
                {#                            Si es que Jesús define tu valor, ¿entonces quién sos y qué tanto vales?<br/> #}
                {#                            Si adoptarás totalmente esta forma de ser, ¿qué cambiaría? #}
                {#                        </h5> #}
                {#                    </li> #}
                {#                </ul> #}


                <hr>

                {#            Pie de las notas      #}

                {#                <div class="col-sm-10 mx-auto my-2"> #}
                {#                    <div class="col-sm-8 mx-auto text-center"> #}
                {#                        Descubre nuestros nuevos mensajes de esperanza, en tu celular, haciendo la Alameda, tu iglesia #}
                {#                        en tu #}
                {#                        iglesia en <a class="btn btn-link" #}
                {#                                      href="https://www.bible.com/organizations/f2e1342b-9c20-4ff5-b38e-c70102f8640e?utm_source=yvapp&utm_medium=share&utm_content=partner-profile" #}
                {#                                      target="_blank"> Youversion</a>. #}
                {#                        <br/> #}
                {#                        La aplicación más descargada en todo el mundo.<br/> #}
                {#                        Sigue el <a class="btn btn-link" #}
                {#                                    href="https://www.bible.com/organizations/f2e1342b-9c20-4ff5-b38e-c70102f8640e?utm_source=yvapp&utm_medium=share&utm_content=partner-profile" #}
                {#                                    target="_blank"> enlace</a> y descubre cómo. #}
                {#                    </div> #}

                {#                    #}{#                <div class="col-12 mx-auto text-left"> #}
                {#                    #}{#                    <h5>Aprovecha estás ayudas gratuitas:</h5> #}
                {#                    #}{#                    <h6 class="ml-2"><b>Asesoramiento Financiero</b>: Envia la palabra <a #}
                {#                    #}{#                                href="https://api.whatsapp.com/send?phone=+5492615178081&amp;text=Asesoramiento"> #}
                {#                    #}{#                            “Asesoramiento” al 261 517 8081</a></h6> #}
                {#                    #}{#                    <h6 class="ml-2"><b>Celebremos la Recuperación</b>: Todos los viernes 20:45 hs Grupo de Orientación #}
                {#                    #}{#                    </h6> #}
                {#                    #}{#                    <h6 class="ml-2"><b>Puentes</b> (Mediación Comunitaria): Llamá al #}
                {#                    #}{#                        <a href="tel:+542614251182">4251182</a> , Martes y Jueves de 17 a 19hs</h6> #}
                {#                    #}{#                </div> #}
                {#                </div> #}
            </div>
        </div>
    </div>
    {{ encore_entry_script_tags('nota_mensaje') }}
