<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row mt-0">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto mt-0">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <div class="col-sm-10 mx-auto mb-3">
                <div class="col-12 mx-auto text-center mb-0">

                    {#                    <h4 class="text-centrado text-600"> #}
                    {#                        CÓMO LA FE EN JESÚS<br/> #}
                    {#                        CONVIERTE LO POCO EN MUCHO #}
                    {#                    </h4> #}
                    {#                                <img src="{{ asset('images/seis_decisiones.png') }}" #}
                    {#                                     class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
                    {#                    <h6 class="text-14-300 font-italic pl-4 text-centrado"> #}
                    {#                        Marcos 6:34-44 – El Milagro de Alimentar a los 5.000 #}
                    {#                    </h6> #}
                    {#                    <br/> #}
                    {#                    <h5 class="text-centrado text-600"> #}
                    {#                        COMO SALIR DEL POZO DEL ABANDONO<br/> #}
                    {#                        <small>Marcos 1.40-45, Mateo 8.2-4; Lucas 5.12-16</small> #}
                    {#                    </h5> #}

                    <p class="text-14-300 font-italic pl-4 text-izq">
                        “Jesús nació en Belén de Judea durante el reinado de Herodes. Por ese tiempo,
                        algunos sabios de países del oriente llegaron a Jerusalén y preguntaron:
                        «¿Dónde está el rey de los judíos que acaba de nacer? Vimos su estrella mientras
                        salía y hemos venido a adorarlo». Cuando el rey Herodes oyó eso, se perturbó
                        profundamente igual que todos en Jerusalén. Mandó llamar a los principales
                        sacerdotes y maestros de la ley religiosa y les preguntó: ¿Dónde se supone
                        que nacerá el Mesías? En Belén de Judea —le dijeron— porque eso es lo que
                        escribió el profeta: “Y tú, Belén, en la tierra de Judá, no eres la menor entre
                        las ciudades reinantes de Judá, porque de ti saldrá un gobernante que será el
                        pastor de mi pueblo Israel”. Luego Herodes convocó a los sabios a una reunión
                        privada y, por medio de ellos, se enteró del momento en el que había aparecido
                        la estrella por primera vez. Entonces les dijo: «Vayan a Belén y busquen al niño
                        con esmero. Cuando lo encuentren, vuelvan y díganme dónde está para que
                        yo también vaya y lo adore». Después de esa reunión, los sabios siguieron su
                        camino, y la estrella que habían visto en el oriente los guió hasta Belén. Iba
                        delante de ellos y se detuvo sobre el lugar donde estaba el niño. Cuando vieron
                        la estrella, ¡se llenaron de alegría! Entraron en la casa y vieron al niño con su
                        madre, María, y se inclinaron y lo adoraron. Luego abrieron sus cofres de tesoro
                        y le dieron regalos de oro, incienso y mirra.”
                        <br/>
                        <small class="float-end">
                            Mateo 2:1-11 (NTV)
                        </small>
                    </p><br/>

                </div>

                {#            <h6 class="text-centrado"> #}
                {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
                {#            </h6> #}
                {#            <h5 class="text-centrado text-600"> #}
                {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
                {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
                {#            </h5> #}
                <h4 class="text-centrado text-600">
                    ¿Cómo llegaron a ser sabios estos magos?
                </h4>
                <h5 class="text-izq text-600">
                    1. {{ completa_lugar('uno') | raw }}
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Preguntaron: «¿Dónde está el rey de los judíos que acaba de
                    nacer?”
                    <br/>
                    <small class="float-end">
                        vs. 2
                    </small>
                </p><br/>

                <h5 class="text-izq text-600">
                    2. {{ completa_lugar('dos') | raw }}
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “… de países del oriente llegaron a Jerusalén”
                    <br/>
                    <small class="float-end">
                        vs. 1
                    </small>
                </p><br/>


                <h5 class="text-izq text-600">
                    3. {{ completa_lugar('tres') | raw }}
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Emprendieron de nuevo la marcha… hasta … el lugar donde
                    estaba el niño…. Entraron entonces en la casa, vieron al niño.”

                    <br/>
                    <small class="float-end">
                        Mateo 2:9-11 (BTI)
                    </small>
                </p><br/>

                <h5 class="text-izq text-600">
                    4. {{ completa_lugar('cuatro') | raw }}
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Hemos venido a adorarlo.”
                    <br/>
                    <small class="float-end">
                        vs. 2
                    </small>
                </p><br/>
                <h5 class="text-izq text-600">
                    5. {{ completa_lugar('cinco') | raw }}
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Se inclinaron y lo adoraron. Luego abrieron sus cofres de tesoro
                    y le dieron regalos de oro, incienso y mirra.”
                    <br/>
                    <small class="float-end">
                        Mateo 2:11 (NTV)
                    </small>
                </p><br/>
                <p class="text-center font-italic text-primary">
                    ORO = el metal más precioso, el regalo para un REY.<br/>
                    INCIENSO = usado en el culto a DIOS en el Templo.<br/>
                    MIRRA = ¡una especia usada para embalsamar un cuerpo después de la MUERTE!
                </p>
                <h4 class="text-centrado text-600">
                    ¿Qué debo darle a Jesús?
                </h4>
                <h5 class="text-izq text-600">
                    1. {{ completa_lugar('uno') | raw }}
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Llámame cuando tengas problemas, y yo te rescataré, y tú me
                    darás la gloria».”
                    <br/>
                    <small class="float-end">
                        Salmos 50:15 (NTV)
                    </small>
                </p><br/>

                <h5 class="text-izq text-600">
                    2. {{ completa_lugar('dos') | raw }}
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Busquen primeramente el reino de Dios y su justicia, y todas
                    estas cosas les serán añadidas.”
                    <br/>
                    <small class="float-end">
                        Mateo 6:33 (NVI)
                    </small>
                </p><br/>


                <h5 class="text-izq text-600">
                    3. {{ completa_lugar('tres') | raw }}
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Pon tu vida en sus manos, confía plenamente en él, y él actuará
                    en tu favor;”

                    <br/>
                    <small class="float-end">
                        Salmos 37:5 (TLA)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Donde esté su tesoro, allí estarán también los deseos de su
                    corazón.”

                    <br/>
                    <small class="float-end">
                        Lucas 12:34 (NTV)
                    </small>
                </p><br/>

                <h5 class="text-izq text-600">
                    4. {{ completa_lugar('cuatro') | raw }}
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Pues Dios amó tanto al mundo que dio a su único Hijo, para que
                    todo el que crea en él no se pierda, sino que tenga vida eterna.”

                    <br/>
                    <small class="float-end">
                        Juan 3:16 (NTV)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Ve por los senderos y detrás de los arbustos y a cualquiera que
                    veas, insístele que venga para que la casa esté llena.”

                    <br/>
                    <small class="float-end">
                        Lucas 14:23 (NTV)
                    </small>
                </p><br/>


                <hr>

                {#            Pie de las notas      #}

                {#                <div class="col-sm-10 mx-auto my-2"> #}
                {#                    <div class="col-sm-8 mx-auto text-center"> #}
                {#                        Descubre nuestros nuevos mensajes de esperanza, en tu celular, haciendo la Alameda, tu iglesia #}
                {#                        en tu #}
                {#                        iglesia en <a class="btn btn-link" #}
                {#                                      href="https://www.bible.com/organizations/f2e1342b-9c20-4ff5-b38e-c70102f8640e?utm_source=yvapp&utm_medium=share&utm_content=partner-profile" #}
                {#                                      target="_blank"> Youversion</a>. #}
                {#                        <br/> #}
                {#                        La aplicación más descargada en todo el mundo.<br/> #}
                {#                        Sigue el <a class="btn btn-link" #}
                {#                                    href="https://www.bible.com/organizations/f2e1342b-9c20-4ff5-b38e-c70102f8640e?utm_source=yvapp&utm_medium=share&utm_content=partner-profile" #}
                {#                                    target="_blank"> enlace</a> y descubre cómo. #}
                {#                    </div> #}

                {#                    #}{#                <div class="col-12 mx-auto text-left"> #}
                {#                    #}{#                    <h5>Aprovecha estás ayudas gratuitas:</h5> #}
                {#                    #}{#                    <h6 class="ml-2"><b>Asesoramiento Financiero</b>: Envia la palabra <a #}
                {#                    #}{#                                href="https://api.whatsapp.com/send?phone=+5492615178081&amp;text=Asesoramiento"> #}
                {#                    #}{#                            “Asesoramiento” al 261 517 8081</a></h6> #}
                {#                    #}{#                    <h6 class="ml-2"><b>Celebremos la Recuperación</b>: Todos los viernes 20:45 hs Grupo de Orientación #}
                {#                    #}{#                    </h6> #}
                {#                    #}{#                    <h6 class="ml-2"><b>Puentes</b> (Mediación Comunitaria): Llamá al #}
                {#                    #}{#                        <a href="tel:+542614251182">4251182</a> , Martes y Jueves de 17 a 19hs</h6> #}
                {#                    #}{#                </div> #}
                {#                </div> #}
            </div>
        </div>
    </div>
    {{ encore_entry_script_tags('nota_mensaje') }}
