<!--suppress TwigHardcodedStringInspection -->
<style>
    .nota-style {
        border: 2px solid #9c27b0; /*borde: estilo y color*/
        padding: 10px 10px 10px 2em; /*tamaño del fondo*/
        border-radius: 30px 0 30px 0; /*ángulos de las 4 esquinas del borde/fondo*/
        margin-bottom: 1em; /*espacio debajo de la etiqueta */
        text-transform: uppercase;
    }

    p.text-14-300, h3, h4.text-14-300, small, h5.text-izq, h4.text-izq {
        color: #1b1e24;
        text-align: left !important;
        font-weight: 300;
    }

    .text-300 {
        font-weight: 300 !important;
    }

    .text-14 {
        font-size: 1.2em !important;
    }

    .text-centrado {
        text-align: center !important;
    }

    h5.text-centrado {
        text-align: center !important;
        font-weight: 300;
    }

    /*.text-600 {*/
    /*    font-weight: 600;*/
    /*}*/
</style>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-0 mx-auto">
        <div class="card mt-0 mb-1 py-2 px-3 ">
            <div class="col-sm-10 mx-auto mb-3">
                <div class="col-12 mx-auto text-center mb-0">

                    {#                    <h4 class="text-centrado text-600"> #}
                    {#                        CÓMO LA FE EN JESÚS<br/> #}
                    {#                        CONVIERTE LO POCO EN MUCHO #}
                    {#                    </h4> #}
                    {#                                <img src="{{ asset('images/seis_decisiones.png') }}" #}
                    {#                                     class="img-fluid col-sm-3" alt="AlamedaCMS"> #}
                    {#                    <h6 class="text-14-300 font-italic pl-4 text-centrado"> #}
                    {#                        Marcos 6:34-44 – El Milagro de Alimentar a los 5.000 #}
                    {#                    </h6> #}
                    {#                    <br/> #}
                    {#                    <h5 class="text-centrado text-600"> #}
                    {#                        COMO SALIR DEL POZO DEL ABANDONO<br/> #}
                    {#                        <small>Marcos 1.40-45, Mateo 8.2-4; Lucas 5.12-16</small> #}
                    {#                    </h5> #}

                    <p class="text-14-300 font-italic pl-4 text-izq">
                        “Oro para que vayan comprendiendo lo increíblemente inmenso que es <u>el poder</u> con que Dios
                        ayuda a <u>los que creen</u> en Él”
                        <br/>
                        <small class="float-end">
                            Efesios 1:19 (BAD).
                        </small>
                    </p><br/>
                    <p class="text-14-300 font-italic pl-4 text-izq">
                        “Que suceda conmigo tal como dijiste”
                        <br/>
                        <small class="float-end">
                            Lucas 1:38 (VBL)
                        </small>
                    </p><br/>
                    <p class="text-14-300 font-italic pl-4 text-izq">
                        “No temas; <u>cree solamente</u>, y ella será sanada.”
                        <br/>
                        <small class="float-end">
                            Lucas 8:50 (NBLH)
                        </small>
                    </p><br/>
                </div>

                {#            <h6 class="text-centrado"> #}
                {#                Coraje “La fuerza de carácter que se niega a darse por vencido”. #}
                {#            </h6> #}
                {#            <h5 class="text-centrado text-600"> #}
                {#                CUANDO ME COMPROMETO, NO RENUNCIO.<br/> #}
                {#                SOY UN {{ completa_lugar('tres') | raw }}. #}
                {#            </h5> #}
                <h4 class="text-centrado text-600">
                    COMO DESATAR EL PODER DE LA FE PARA TU VIDA
                </h4>
                <h5 class="text-izq text-600">
                    1. Adopta una {{ completa_lugar('uno') | raw }} de esperanza.
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Puedo salir airoso de toda suerte de pruebas, porque Cristo me da las fuerzas.”
                    <br/>
                    <small class="float-end">
                        Filipenses 4:13 (BTI)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “No tengas miedo ni te desanimes, porque Dios el Señor, mi Dios, estará contigo. No te dejará ni te
                    abandonará <u>hasta que hayas terminado</u>...”
                    <br/>
                    <small class="float-end">
                        1° Crónicas 28:20 (NVI)
                    </small>
                </p><br/>

                <h5 class="text-izq text-600">
                    2. No te dejes intimidar por el tamaño de tu {{ completa_lugar('dos') | raw }}.
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Todo el que desee acercarse a Dios debe creer que él es...”
                    <br/>
                    <small class="float-end">
                        Hebreos 11:6
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “¡<u>Mi Dios suplirá todas las cosas</u> que ustedes necesiten, conforme a sus riquezas gloriosas en
                    Cristo Jesús!”
                    <br/>
                    <small class="float-end">
                        Filipenses 4:19 (VBL)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Díganle al justo que <u>le irá bien</u>.”
                    <br/>
                    <small class="float-end">
                        Isaías 3:10 (NVI)
                    </small>
                </p><br/>
                <h5 class="text-izq text-600">
                    3. Atrévete a {{ completa_lugar('tres') | raw }} tu futuro en fe.
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Yo no corro sin una meta ni peleo como los boxeadores que sólo dan golpes al aire.”
                    <br/>
                    <small class="float-end">
                        1° Corintios 9:26 (PDT)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “¿<u>Crees</u> tú que estos huesos pueden volver a tener vida?”
                    <br/>
                    <small class="float-end">
                        Ezequiel 37:3 (DHH)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Se hará con ustedes conforme a su fe.”
                    <br/>
                    <small class="float-end">
                        Mateo 9:29 (NVI)
                    </small>
                </p><br/>


                <h5 class="text-izq text-600">
                    4. Desentierra sus {{ completa_lugar('cuatro') | raw }} para tu vida.
                </h5>

                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Señor, si tan sólo hubieras estado aquí, mi hermano no habría muerto;”
                    <br/>
                    <small class="float-end">
                        Juan 11:21 (NTV)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “¿Dónde lo pusieron?”
                    <br/>
                    <small class="float-end">
                        Juan 11:34 (NTV)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “Marta le dijo a Jesús: Señor, si tan sólo hubieras estado aquí, mi hermano no habría muerto; <u>pero
                        aún ahora, yo sé que Dios</u> te dará todo lo que pidas.”
                    <br/>
                    <small class="float-end">
                        Juan 11:21-22 (NTV)
                    </small>
                </p><br/>
                <p class="text-14-300 font-italic pl-4 text-izq">
                    “¿No te dije que <u>si crees</u>, verás la gloria de Dios?”
                    <br/>
                    <small class="float-end">
                        Juan 11:40 (NTV)
                    </small>
                </p><br/>


                <hr>

                {#            Pie de las notas      #}

                <div class="col-sm-10 mx-auto my-2">
                    <div class="col-sm-8 mx-auto text-center">
                        Descubre nuestros nuevos mensajes de esperanza, en tu celular, haciendo la Alameda, tu iglesia
                        en tu
                        iglesia en <a class="btn btn-link"
                                      href="https://www.bible.com/organizations/f2e1342b-9c20-4ff5-b38e-c70102f8640e?utm_source=yvapp&utm_medium=share&utm_content=partner-profile"
                                      target="_blank"> Youversion</a>.
                        <br/>
                        La aplicación más descargada en todo el mundo.<br/>
                        Sigue el <a class="btn btn-link"
                                    href="https://www.bible.com/organizations/f2e1342b-9c20-4ff5-b38e-c70102f8640e?utm_source=yvapp&utm_medium=share&utm_content=partner-profile"
                                    target="_blank"> enlace</a> y descubre cómo.
                    </div>

                    {#                <div class="col-12 mx-auto text-left"> #}
                    {#                    <h5>Aprovecha estás ayudas gratuitas:</h5> #}
                    {#                    <h6 class="ml-2"><b>Asesoramiento Financiero</b>: Envia la palabra <a #}
                    {#                                href="https://api.whatsapp.com/send?phone=+5492615178081&amp;text=Asesoramiento"> #}
                    {#                            “Asesoramiento” al 261 517 8081</a></h6> #}
                    {#                    <h6 class="ml-2"><b>Celebremos la Recuperación</b>: Todos los viernes 20:45 hs Grupo de Orientación #}
                    {#                    </h6> #}
                    {#                    <h6 class="ml-2"><b>Puentes</b> (Mediación Comunitaria): Llamá al #}
                    {#                        <a href="tel:+542614251182">4251182</a> , Martes y Jueves de 17 a 19hs</h6> #}
                    {#                </div> #}
                </div>
            </div>
        </div>
    </div>
    {{ encore_entry_script_tags('nota_mensaje') }}
